@model List<AccountManagement.DBContext.Models.ViewModels.SalesMaster.SalesInvoiceMasterModel>
@using AccountManegments.Web.Models;
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession

<tr class="payininvoicerow">
    <td>
        <span class="row-number me-5">ROWNUMBER.</span>
    </td>
    <td style="width:630px">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="Online-ROWID" value="NEFT/RTGS" name="paymenttype-ROWID" checked>
            <label class="form-check-label" for="Online-ROWID">NEFT/RTGS</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="Cheque-ROWID" value="Cheque" name="paymenttype-ROWID">
            <label class="form-check-label" for="Cheque-ROWID">Cheque</label>
        </div>
        <input type="hidden" id="paymenttypeid-ROWID">
    </td>
    <td style="width:360px">
        @{
            DateTime invoiceDate = DateTime.Now;
            string formattedDate = invoiceDate.ToString("yyyy-MM-dd");
        }
        <input type="date" id="txtpayindate-ROWID" class="form-control" name="txtpayindate" value="@formattedDate" />
    </td>
    <td style="width:360px">
        <input type="text" class="form-control" id="txtpayindescription-ROWID" placeholder="Description" />
    </td>
    <td style="width:360px">
        <div class="input-group">
            <input type="text" class="form-control" id="txtpayinamount-ROWID" name="txtpayinamount" placeholder="Amount">
        </div>
        <span id="spnpayin-ROWID" class="text-danger"></span>
    </td>
    <td style="width:135px">
        <a class="form-control btn text-primary" onclick="removePayInRow(this)" style="text-align: center; display: flex; justify-content: center;">
            <i class="lni lni-trash"></i>
        </a>
    </td>
</tr>