@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@{
    ViewData["Title"] = "SalesReport";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="d-flex align-items-center">
        <form class="position-relative">
            @if (UserSession.FormPermisionData.Any(a => a.FormName == "Purchase  Invoice" && (a.Add == true)))
            {
                <a type="button" class="btn btn-primary fixed-button" href="/InvoiceMaster/CreateInvoice"><i class="lni lni-circle-plus"></i>Create Invoice</a>
            }
        </form>
    </div>
</div>
