@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@model IEnumerable<AccountManagement.DBContext.Models.ViewModels.UserModels.LoginView>

@foreach (var item in Model)
{
    <tr>
        <td>@item.FirstName @item.LastName</td>

        <td>
            <a class="btn text-primary" id="siteCard_@item.Id" onclick="EditUserWiseFormDetails('@item.Id', this)" title="Edit" aria-label="Edit">
                <i class="fadeIn animated bx bx-edit"></i>
            </a>
        </td>
    </tr>
}