@{
    ViewData["Title"] = "UserListView";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">Users</div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0 align-items-center">
                <li class="breadcrumb-item">
                    <a href="javascript:;"><ion-icon name="home-outline"></ion-icon></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">User Tables</li>
            </ol>
        </nav>
    </div>
    <div class="ms-auto">
        <div class="btn-group">
            <button type="button" class="btn btn-outline-primary">Settings</button>
            <button type="button" class="btn btn-outline-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">
                <a class="dropdown-item" href="javascript:;">Action</a>
                <a class="dropdown-item" href="javascript:;">Another action</a>
                <a class="dropdown-item" href="javascript:;">Something else here</a>
                <div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0">User Details</h5>
            <form class="ms-auto position-relative">
                <button type="button" class="btn btn-info px-5" data-bs-toggle="offcanvas" data-bs-target="#createUser"><i class="lni lni-circle-plus"></i>Add User</button>
            </form>
        </div>

        <div class="card radius-10 w-100">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">

                        <div class="card">
                            <div class="card-body">
                                <div class="row g-3">
                                    <div class="col-12 col-lg-4">
                                        <input class="form-control" id="txtSearch" onkeyup="filterTable()" placeholder="Search">
                                        </input>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <select class="form-select" id="ddlSearchBy" onchange="filterTable()">
                                            <option selected="selected">UserName</option>
                                            <option>Email</option>
                                            <option>Phone</option>
                                        </select>
                                    </div>

                                    <div class="col-12 col-lg-4">
                                        <select class="form-select" id="ddlSortBy" onchange="sortTable()">
                                            <option value="UserName" selected="selected">Default sorting</option>
                                            <option value="Role">Sort by Role</option>
                                            <option value="Active">Sort by Active</option>
                                            <option value="Email">Sort by Email</option>
                                            <option value="Phone">Sort Phone</option>

                                        </select>
                                    </div>
                                </div><!--end row-->

                            </div>
                        </div>
                    </div>

                </div><!--end row-->
                <div class="table-responsive mt-2">
                    <table class="table align-middle mb-0">
                        <thead class="table-light" id="userTable">
                            <tr>
                                <th>FirstName</th>
                                <th>LastName</th>
                                <th>UserName</th>
                                <th>Email</th>
                                <th>PhoneNo</th>
                                <th>IsActive</th>
                                <th>RoleName</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="Usertbody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end border-0 w-25" tabindex="-1" id="editUserDetails">
    <div class="d-flex align-items-center bg-primary bg-gradient p-3 offcanvas-header">
        <h5 class="m-0 me-2 text-white">Edit User</h5>

        <button type="button" class="btn-close btn-close-white ms-auto" id="customizerclose-btn" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body p-0">
        <div data-simplebar class="h-100">
            <div class="p-4">
                <div class="card">
                    <div class="card-body">
                        <div class="border p-3 rounded">


                            <form class="row g-3">
                                <div class="col-12">
                                    <label class="form-label">First Name</label>
                                    <input type="text" class="form-control form-control-lg mb-3" placeholder="First Name" id="FirstName">
                                    <input type="hidden" class="form-control" id="Userid">
                                </div>
                                <div class="col-12">
                                    <label class="form-label">Last Name</label>
                                    <input type="text" class="form-control form-control-lg mb-3" id="LastName">
                                </div>
                                <div class="col-12">
                                    <label class="form-label">User Name</label>
                                    <input type="text" class="form-control form-control-lg mb-3" id="UserName">
                                </div>
                                <div class="col-12">
                                    <label class="form-label">Password</label>
                                    <input type="text" class="form-control form-control-lg mb-3" id="Password">
                                    <span id="spnPassword" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <label class="form-label">Email</label>
                                    <input type="text" class="form-control form-control-lg mb-3" id="Email">
                                </div>
                                <div class="col-12">
                                    <label class="form-label">Phone</label>
                                    <input type="text" class="form-control form-control-lg mb-3" id="PhoneNo">
                                </div>
                                <div class="col-12">
                                    <button type="button" class="btn btn-lg btn-success col-lg-12" onclick="UpdateUserDetails()">Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>

</div>

<div class="offcanvas offcanvas-end border-0 w-25" tabindex="-1" id="createUser">
    <div class="d-flex align-items-center bg-primary bg-gradient p-3 offcanvas-header">
        <h5 class="m-0 me-2 text-white">Create User</h5>

        <button type="button" class="btn-close btn-close-white ms-auto" id="customizerclose-btn" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body p-0">
        <div data-simplebar class="h-100">
            <div class="p-4">
                <div class="card">
                    <div class="card-body">


                        <form class="row g-3" id="userForm">
                            <div class="col-12">
                                <label class="form-label">First Name</label>
                                <input type="text" class="form-control form-control-lg mb-3" placeholder="First Name" id="txtFirstName" required>
                                <span id="spnFirstName" class="text-danger"></span>
                            </div>
                            <div class="col-12">
                                <label class="form-label">Last Name</label>
                                <input type="text" class="form-control form-control-lg mb-3" placeholder="Last Name" id="txtLastName" required>
                                <span id="spnLastName" class="text-danger"></span>
                            </div>
                            <div class="col-12">
                                <label class="form-label">User Name</label>
                                <input type="text" class="form-control form-control-lg mb-3" placeholder="User Name" id="txtUserName" required>
                                <span id="spnUserName" class="text-danger"></span>
                            </div>
                            <div class="col-12">
                                <label class="form-label">Password</label>
                                <input type="password" class="form-control form-control-lg mb-3" placeholder="Password" id="txtPassword" required>
                                <span id="spnPassword" class="text-danger"></span>
                            </div>
                            <div class="col-12">
                                <label class="form-label">Email</label>
                                <input type="text" class="form-control form-control-lg mb-3" placeholder="Email" id="txtEmail" required>
                                <span id="spnEmail" class="text-danger"></span>
                            </div>
                            <div class="col-12">
                                <label class="form-label">Phone Number</label>
                                <input type="text" class="form-control form-control-lg mb-3" placeholder="Phone Number" id="txtPhoneNo" required>
                                <span id="spnPhoneNo" class="text-danger"></span>
                            </div>
                            <div class="col-12">
                                <button type="button" class="btn btn-lg btn-success col-lg-12" onclick="CreateUser()" id="btnUpdate">Create</button>
                            </div>
                        </form>

                    </div>

                </div>


            </div>
        </div>

    </div>

</div>
@section Scripts {

    <script src="~/moduls/authenticationscript.js"></script>
}
