################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AccountManegment.DBContext
/AccountManegment.Repo
/AccountManegmentAPI
/AccountManegments.Web
