@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@model IEnumerable<AccountManagement.DBContext.Models.ViewModels.SupplierMaster.SupplierModel>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@foreach (var item in Model)
{

    <tr>
        <td><a class="text-primary">@item.SupplierName</td>
        <td>@item.Gstno</td>
        <td>
                <input class="form-check-input" type="checkbox" name="chk_Supplierchild" id="Supplier_@item.SupplierId">
        </td>
        @if (UserSession.FormPermisionData.Any(a => a.FormName == "Supplier" && (a.Edit == true || a.Delete == true)))
        {
            <td>
                @if (UserSession.FormPermisionData.Any(a => a.FormName == "Supplier" && (a.Edit == true)))
                {

                    <a class="btn text-primary" onclick="DisplaySupplierDetails('@item.SupplierId')" title="Edit" aria-label="Edit"><i class="fadeIn animated bx bx-edit"></i></a>
                }
                @if (UserSession.FormPermisionData.Any(a => a.FormName == "Supplier" && (a.Delete == true)))
                {
                    <a href="javascript:;" class="btn text-primary" onclick="DeleteSupplierDetails('@item.SupplierId')" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete" aria-label="Delete"><i class="lni lni-trash"></i></a>
                }
            </td>
        }
    </tr>
}