@using AccountManegments.Web.Models;
@inject IHttpContextAccessor Accessor;
@model IEnumerable<AccountManagement.DBContext.Models.ViewModels.InvoiceMaster.SupplierPendingDetailsModel>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@foreach (var item in Model)
{
    <tr>
        <td>@item.SupplierName</td>
        <td class="alert-danger">

            <i class="lni lni-rupee"></i>
            @item.TotalPending
        </td>

    </tr>
}

