@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}



<!--start breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">Dashboard</div>
    <div class="ps-3">
        <select class="form-control form-control-lg" id="drpSiteName" onchange="fn_ChangeSite()">
            <option value="">All Site</option>
        </select>
    </div>
    
</div>

<!--end breadcrumb-->

<div class="row">
    <div class="col-12 col-lg-8 col-xl-8 d-flex">
        <div class="card radius-10 w-100">
            <div class="card-header">
                <h5>Purchase Requests</h5>
                
            </div>
            <div class="card-body">
                <div class="table-responsive mt-3" style="max-height:350px;">
                    <table class="table align-middle mb-0">
                        <thead class="table-light">
                            <tr>
                                <th>Item</th>
                                <th>Unit</th>
                                <th>Qty</th>
                                <th>Site</th>
                                <th>Status</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Cements</td>
                                <td>Bags</td>
                                <td>250</td>
                                <td>Oro University-surat</td>
                                <td><span class="badge bg-light-warning text-warning w-100">Pending</span></td>
                                <td>03 Feb 2020</td>
                            </tr>
                            <tr>
                                <td>Cements</td>
                                <td>Bags</td>
                                <td>250</td>
                                <td>Bhavnager</td>
                                <td><span class="badge bg-light-success text-success w-100">Approved</span></td>
                                <td>03 Feb 2020</td>
                            </tr>
                            <tr>
                                <td>Cements</td>
                                <td>Bags</td>
                                <td>250</td>
                                <td>Vadodra</td>
                                <td><span class="badge bg-light-warning text-warning w-100">Pending</span></td>
                                <td>03 Feb 2020</td>
                            </tr>

                            <tr>
                                <td>Cements</td>
                                <td>Bags</td>
                                <td>250</td>
                                <td>Rajkot</td>
                                <td><span class="badge bg-light-warning text-warning w-100">Pending</span></td>
                                <td>03 Feb 2020</td>
                            </tr>


                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-4 col-xl-4 d-flex">
        <div class="card radius-10 overflow-hidden w-100">
            <div class="card-header">
                <h5>Supplier Pending</h5>
                </div>
            <div class="card-body">
                <div class="table-responsive mt-3" style="max-height:350px;">
                    <table class="table align-middle mb-0">
                        <thead class="table-light">
                            <tr>
                                <th>Company</th>
                                <th>Amount</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>D. M. Infra</td>
                                <td class="alert-danger">

                                    <i class="lni lni-rupee"></i>
                                    2500000.00
                                </td>
                              
                            </tr>
                            <tr>
                                <td>D. M. Infra</td>
                                <td class="alert-danger">

                                    <i class="lni lni-rupee"></i>
                                    2500000.00
                                </td>

                            </tr>
                            <tr>
                                <td>D. M. Infra</td>
                                <td class="alert-danger">

                                    <i class="lni lni-rupee"></i>
                                    2500000.00
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>  
        </div>
    </div>
</div>

<script type="text/javascript">

    $(function () {
        fn_fillsiteDropDown('#drpSiteName')
    });



    function fn_fillsiteDropDown(drpid) {
        debugger
        $.ajax({
            url: '/SiteMaster/GetSiteNameList',
            success: function (result) {
                $.each(result, function (i, data) {
                
                    $(drpid).append('<Option value=' + data.siteId + '>' + data.siteName + '</Option>')
                });
            }
        });
    }

    function fn_ChangeSite(){
        $.ajax({
            url: '/SiteMaster/GetSiteNameList',
            success: function (result) {
                $.each(result, function (i, data) {

                    $(drpid).append('<Option value=' + data.siteId + '>' + data.siteName + '</Option>')
                });
            }
        });
    }
</script>
<!--end 