@model List<AccountManagement.DBContext.Models.ViewModels.ItemInWord.ItemInWordDocumentModel>

@foreach (var item in Model)
{
    <div class='col-6 col-sm-6 DocumentName'>
        <div id="displayImage" src="#" alt="pic">
            @item.DocumentName
            <div onclick='CancelImage()' class="img-remove">
                <div class="font-22">
                    <i class="lni lni-close"></i>
                </div>
            </div>
        </div>SelectItemInWordDetails

    </div>
}

@section Scripts {

    <script src="~/moduls/iteminwordscript.js"></script>
}