@inject UserSession _userSession
@inject IHttpContextAccessor Accessor;
@{
    ViewData["Title"] = "Supplier Master";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

<style>
    #txtSupplierName-error, #txtGST-error, #txtBuilding-error,
    #txtArea-error, #txtPinCode-error, #ddlCity-error,
    #dropState-error, #ddlCountry-error, #supplierExcelFile-error {
        color: red;
    }

    label.failed {
        color: red;
    }
</style>
<input type="hidden" id="txtUserid" value="@_userSession.UserId" />
@section HeaderButton {

    @if (UserSession.FormPermisionData.Any(a => a.FormName == "Supplier" && (a.Add == true)))
    {
        <div class="d-flex gap-2 ms-auto">
            <button type="button" class="btn btn-primary" onclick="ClearSupplierTextBox()">
                <i class="lni lni-circle-plus"></i> Supplier
            </button>
            <button type="button" class="btn btn-success" onclick="downloadSampleFile()">Download File</button>
            <button type="button" class="btn btn-success" onclick="SupplierFileUploadModel()">Upload File</button>
        </div>
    }
}

<div class="">
    <div class="">
        <div class=" radius-10 w-100">
            <div class="my-3 border-bottom"></div>
            <div class="">
                <div class="row">
                    <div class="col-12 col-lg-7 col-md-7 col-xl-7">
                        <div class="card radius-10 w-100">
                            <div class="card-body">
                                <div class="row w-100 ac-view-list card radius-10 w-100">
                                    <div class="row ">
                                        <div class="col-12">
                                            <div class="card-body">
                                                <div class="row g-3">
                                                    @if (ViewBag.Code != null && ViewBag.Message != null)
                                                    {
                                                        <div class="alert alert-danger d-flex align-items-center justify-content-between" role="alert">
                                                            <h3 class="text-danger">@ViewBag.Code @ViewBag.Message</h3>
                                                            <button id="ErrorCloseButton" class="btn btn-outline-danger btn-lg" aria-label="Close">×</button>
                                                        </div>
                                                    }
                                                    <div class="col-12 col-lg-4">
                                                        <input class="form-control" id="txtSupplierSearch" onkeyup="filterSupplierTable()" placeholder="Search" />
                                                    </div>
                                                    <div class="col-12 col-lg-4">
                                                        <select class="form-select" id="SupplierSearchBy" onchange="filterSupplierTable()">
                                                            <option selected="selected">All</option>
                                                            <option>SupplierName</option>
                                                        </select>
                                                    </div>

                                                    <div class="col-12 col-lg-4">
                                                        <select class="form-select" id="SupplierSortBy" onchange="sortSupplierTable()">
                                                            <option value="DescendingCreatedOn" selected="selected">Most Recent</option>
                                                            <option value="AscendingCreatedOn">First Created</option>
                                                            <option value="AscendingSupplierName">SupplierName(a-z)</option>
                                                            <option value="DescendingSupplierName">SupplierName(z-a)</option>
                                                        </select>
                                                    </div>
                                                </div><!--end row-->

                                            </div>

                                        </div>

                                    </div>


                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table align-middle mb-0">
                                                <thead class="table-light btn-primary">
                                                    <tr>
                                                        <th>Supplier Info</th>
                                                        <th>GST No.</th>
                                                        <th>Active</th>

                                                        <th>Action</th>

                                                    </tr>
                                                </thead>
                                                <tbody id="Supplierbody">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                        <!--end row-->
                    </div>
                    <div class="col-12 col-lg-5 col-xl-5 ac-detail hide-sm">
                        <div class="card radius-10">
                            <div class="card-body" style="height:680px">
                                <h5 class="mb-0 mt-4">Supplier Information</h5>
                                <hr>
                                <div class="row g-3 ac-detail d-none">
                                    <div class="col-6">
                                        <label class="form-label">Supplier Name</label>
                                        <input type="text" class="form-control" id="dspSupplierName" readonly>
                                        <input type="hidden" class="form-control" id="dspSupplierId" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">Email</label>
                                        <input type="text" class="form-control" id="dspEmail" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">Phone</label>
                                        <input type="text" class="form-control" id="dspPhoneNo" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">Area</label>
                                        <input type="text" class="form-control" id="dspArea" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">BuildingName</label>
                                        <input type="text" class="form-control" id="dspBuildingName" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">State</label>
                                        <input type="text" class="form-control" id="dspStateName" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">City</label>
                                        <input type="text" class="form-control" id="dspCityName" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">PinCode</label>
                                        <input type="text" class="form-control" id="dspPinCode" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">BankName</label>
                                        <input type="text" class="form-control" id="dspBankName" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">AccountNo</label>
                                        <input type="text" class="form-control" id="dspAccountNo" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">Iffccode</label>
                                        <input type="text" class="form-control" id="dspIffccode" readonly>
                                    </div>
                                    @*                                      <div class="col-6">
                                    <label class="form-label">Opening Balance</label>
                                    <input type="text" class="form-control" id="dspOpeningBalance" readonly>
                                    </div>
                                    <div class="col-6">
                                    <label class="form-label">Opening Balance Date</label>
                                    <input type="Date" class="form-control" id="dspOpeningBalanceDate" readonly>
                                    </div> *@
                                </div>
                            </div>
                            @* </form> *@
                        </div>
                    </div>
                    @* <div class="col-12 col-lg-5 col-xl-5 ac-detail hide-sm">
                    <div class="card radius-10">
                    <div class="card-body" style="height: 658px;">
                    <h5 class="mb-0 mt-4">Supplier Information</h5>
                    <hr>
                    <div class="card-body" style="overflow-y: scroll; max-height: 550px;">
                    <div class="ac-view-list">
                    <div class="table-responsive" style="width: 100%;">
                    <table class="table align-middle mb-0 " id="customerTable">
                    <thead class="table-light btn-primary">
                    <tr>
                    <th>InvoiceNo</th>
                    <th>Date</th>
                    <th>YouGave</th>
                    <th>YouGet</th>
                    </tr>
                    </thead>
                    <tbody id="supplierinvoicedetails">
                    </tbody>
                    </table>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div> *@
                </div>
            </div>
        </div>
    </div>

    <div class="offcanvas offcanvas-end border-0 w-25 ac-add-edit" tabindex="-1" id="createSupplier">
        <div class="d-flex align-items-center bg-primary bg-gradient p-3 offcanvas-header">
            <h5 class="m-0 me-2 text-white" id="changeName"></h5>
            <button type="button" class="btn-close btn-close-white ms-auto" id="customizerclose-btn" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body p-0">
            <div data-simplebar class="h-100">
                <div class="p-4">
                    <div class="card">
                        <div class="card-body">
                            <form class="row g-3" id="SupplierForm">
                                <div class="col-lg-12 col-12">
                                    <label class="form-label">Supplier Name</label>
                                    <input type="text" class="form-control" placeholder="Supplier Name" id="txtSupplierName" name="txtSupplierName">
                                    <input type="hidden" id="txtSupplierid" required>
                                    <span id="spnSupplier" class="text-danger"></span>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <label class="form-label">Phone Number</label>
                                    <input type="number" class="form-control" placeholder="Phone Number" id="txtPhoneNo" name="txtPhoneNo">
                                    <span id="spnPhoneNo" class="text-danger"></span>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <label class="form-label">Email</label>
                                    <input type="text" class="form-control" placeholder="Email" id="txtEmail" name="txtEmail">
                                    <span id="spnEmail" class="text-danger"></span>
                                </div>
                                <div class="col-lg-12 col-12">
                                    <label class="form-label">GST Number</label>
                                    <input type="text" class="form-control" placeholder="GST Number" id="txtGST" name="txtGST">
                                    <span id="spnGST" class="text-danger"></span>
                                </div>
                                <div class="col-lg-12 col-12">
                                    <label class="form-label">Building Name</label>
                                    <input type="text" class="form-control" placeholder="Building Name" id="txtBuilding" name="txtBuilding">
                                    <span id="spnBuilding" class="text-danger"></span>
                                </div>
                                <div class="col-lg-12 col-12">
                                    <label class="form-label">Landmark</label>
                                    <textarea type="text" class="form-control" rows="3" placeholder="Landmark" id="txtArea" name="txtArea" style="height: 75px;"></textarea>
                                    <span id="spnArea" class="text-danger"></span>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <label class="form-label">PinCode</label>
                                    <input type="number" class="form-control" placeholder="PinCode" id="txtPinCode" name="txtPinCode">
                                    <span id="spnPinCode" class="text-danger"></span>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <label class="form-label">Country</label>
                                    <select id="ddlCountry" name="ddlCountry" class="form-select bg-transparent" onchange="fn_getState('dropState',null,this)">
                                        <option>--Select Country--</option>
                                    </select>
                                    <span class="text-danger"></span>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <label class="form-label">State</label>
                                    <select id="dropState" name="dropState" class="form-select bg-transparent" onclick="fn_getcitiesbystateId('ddlCity',null,this)">
                                        <option value="0"></option>
                                    </select>
                                    <input type="hidden" id="txtstate" value="" />
                                    <span class="text-danger"></span>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <label class="form-label">City</label>
                                    <select id="ddlCity" name="ddlCity" class="form-select bg-transparent">
                                        <option value="0">--Select City--</option>
                                    </select>
                                    <input type="hidden" id="txtcity" value="" />
                                    <span class="text-danger"></span>
                                </div>
                                @* <div class="col-lg-6 col-12">
                                <label class="form-label">Opening Balance</label>
                                <input type="number" class="form-control" id="txtSupplierOpeningBalance" placeholder="Opening Balance" name="txtSupplierOpeningBalance" />
                                </div>
                                <div class="col-lg-6 col-12">
                                <label class="form-label">Opening Balance Date</label>
                                <input type="date" id="txtSupplierOpeningBalanceDate" class="form-control" name="txtSupplierOpeningBalanceDate" />
                                </div> *@
                                <div class="col-lg-12 col-12">
                                    <h5><b>Bank Details</b></h5>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <label class="form-label">Bank Name</label>
                                    <input type="text" class="form-control" placeholder="Bank Name" id="txtBank" name="txtBank">
                                    <span id="spnBank" class="text-danger"></span>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <label class="form-label">Account Number</label>
                                    <input type="text" class="form-control" placeholder="Account Number" id="txtAccount" name="txtAccount">
                                    <span id="spnAccount" class="text-danger"></span>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <label class="form-label">IFFC Code</label>
                                    <input type="text" class="form-control" placeholder="IFFC Code" id="txtIFFC" name="txtIFFC">
                                    <span id="spnIFFC" class="text-danger"></span>
                                </div><div class="col-lg-6 col-12">
                                    <label class="form-label">Branch Name</label>
                                    <input type="text" class="form-control" placeholder="Branch Name" id="txtBranch" name="txtBranch">
                                    <span id="spnBranch" class="text-danger"></span>
                                </div>
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-lg btn-success col-lg-12" onclick="validateAndCreateSupplier()" id="btnsupplier">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="uploadFileModal" class="modal fade flip" tabindex="-1" aria-labelledby="flipModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form id="uploadSupplierFile" method="post" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h5 class="modal-title" id="flipModalLabel">Upload Excel File</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="hstack gap-3 align-items-start">
                            <div class="flex-grow-1">
                                <label>Upload Excel File :</label>
                                <input type="file" name="supplierExcelFile" id="supplierExcelFile" class="form-control" accept=".csv,.xls,.xlsx" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                        <button type="button" onclick="UploadSupplierFile()" class="btn btn-primary">Upload</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->

        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>


@section Scripts {
    <script src="~/moduls/MasterListScript.js" asp-append-version="true"></script>
    <script src="~/moduls/SupplierScript.js" asp-append-version="true"></script>
}
