@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession

@model IEnumerable<AccountManagement.DBContext.Models.ViewModels.SiteMaster.SiteGroupModel>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@foreach (var item in Model)
{

    <tr>
        <td>@item.GroupName</td>

        @if (UserSession.FormPermisionData.Any(a => a.FormName == "Site" && (a.Edit == true || a.Delete == true)))
        {
            <td>
                @if (UserSession.FormPermisionData.Any(a => a.FormName == "Site" && (a.Edit == true)))
                {
                    <a class="btn text-primary" onclick="DisplaySiteGroup('@item.Id')" title="Edit" aria-label="Edit"><i class="fadeIn animated bx bx-edit"></i></a>
                }
                @if (UserSession.FormPermisionData.Any(a => a.FormName == "Site" && (a.Delete == true)))
                {
                    <a href="javascript:void(0);" class="btn text-primary" onclick="DeleteSiteGroup('@item.Id')" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete" aria-label="Delete"><i class="lni lni-trash"></i></a>
                }

            </td>
        }

    </tr>
}
