@model AccountManagement.DBContext.Models.ViewModels.SiteMaster.SiteMasterModel
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@{
    ViewData["Title"] = "Site Master";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}
<style>
    #txtSiteName-error, #txtContectPersonName-error, #txtContectPersonPhoneNo-error, #txtAddress-error,
    #txtArea-error, #txtPincode-error, #ddlCountry-error, #stateDropdown-error, #ddlCity-error,
    #txtShippingAddress-error, #txtShippingArea-error, #txtShippingPincode-error, #ShippingCity-error,
    #ShippingState-error, #shippingCountry-error {
        color: red;
    }

    label.failed {
        color: red;
    }

    .select2.select2-container {
        width: 465px;
    }
</style>

@section HeaderButton {
    <div class="d-flex gap-2 ms-auto">
        @if (UserSession.FormPermisionData.Any(a => a.FormName == "Site" && (a.Add == true)))
        {
            <button type="button" class="btn btn-primary" onclick="ClearSiteTextBox()"><i class="lni lni-circle-plus"></i>Add Site</button>
        }
    </div>
}


<div class="">
    <div class="">
        <div class=" radius-10 w-100">
            <div class="my-3 border-bottom"></div>
            <div class="">
                <div class="row">
                    <div class="col-12 col-lg-7 col-md-7 col-xl-7">
                        <div class="card radius-10 w-100">
                            <div class="card-body">
                                <div class="row w-100 ac-view-list card radius-10 w-100">
                                    <div class="row ">
                                        <div class="col-12">
                                            <div class="card-body">
                                                <div class="row g-3">

                                                    <div class="col-12 col-lg-4">
                                                        <input class="form-control" id="txtSiteSearch" onkeyup="SitefilterTable()" placeholder="Search">
                                                    </div>
                                                    <div class="col-12 col-lg-4">
                                                        <select class="form-select" id="SiteSearchBy" onchange="SitefilterTable()">
                                                            <option selected="selected">
                                                                All
                                                            </option>
                                                            <option> SiteName </option>
                                                            <option> ContactPersonName </option>
                                                        </select>
                                                    </div>

                                                    <div class="col-12 col-lg-4">
                                                        <select class="form-select" id="SiteDataSortBy" onchange="sortSiteTable()">
                                                            <option value="DescendingCreatedOn" selected="selected">Most Recent</option>
                                                            <option value="AscendingCreatedOn"> First Created</option>
                                                            <option value="AscendingSitename">Sitename(A - Z) </option>
                                                            <option value="DescendingSitename"> Sitename(Z - A) </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--end row-->

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive" style="overflow-x: hidden;max-height: 400px;">
                                            <table class="table align-middle mb-0">
                                                <thead class="table-light btn-primary">
                                                    <tr>
                                                        <th>Site Name</th>
                                                        <th>Contact Name</th>

                                                        <th>Active</th>
                                                        @if (UserSession.FormPermisionData.Any(a => a.FormName == "Site" && (a.Edit == true || a.Delete == true)))
                                                        {
                                                            <th>Action</th>
                                                        }
                                                    </tr>
                                                </thead>
                                                <tbody id="Sitetbody">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end row-->
                    </div>
                    <div class="col-12 col-lg-5 col-xl-5 ac-detail hide-sm">
                        <div class="card radius-10">
                            <div class="card-body" style="height:658px;">
                                <h5 class="mb-0 mt-4" id="SiteInfoHeading">Site Information</h5>
                                <hr>
                                <div class="row g-3 ac-detail d-none" id="siteinfo">
                                    <div class="col-12">
                                        <label class="form-label">Site Name</label>
                                        <input type="text" class="form-control" id="dspSiteName" readonly>
                                        <input type="hidden" class="form-control" id="dspSiteid" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">Contact Person Name</label>
                                        <input type="text" class="form-control" id="dspContactPersonName" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">Contact Person Phone No</label>
                                        <input type="text" class="form-control" id="dspContactPersonPhoneNo" readonly>
                                    </div>
                                    <div class="col-12">
                                        <label class="form-label">Address</label>
                                        <textarea type="text" class="form-control" row="3" id="dspAddress" style="height: 90px;" readonly></textarea>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">City</label>
                                        <input type="text" class="form-control" id="dspCity" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">Pincode</label>
                                        <input type="text" class="form-control" id="dspPincode" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas offcanvas-end border-0 w-25 ac-add-edit" tabindex="-1" id="createSite">
        <div class="d-flex align-items-center bg-primary bg-gradient p-3 offcanvas-header">
            <h5 class="m-0 me-2 text-white" id="changeName"></h5>

            <button type="button" class="btn-close btn-close-white ms-auto" id="customizerclose-btn" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body p-0">
            <div data-simplebar class="h-100">
                <div class="p-4">
                    <div class="card">
                        <div class="card-body">
                            <form class="row g-3" id="siteForm">
                                <div class="col-lg-12 col-12">
                                    <label class="form-label">Site Name</label>
                                    <input type="text" class="form-control" placeholder="Site Name" id="txtSiteName" name="txtSiteName">
                                    <input type="hidden" id="txtSiteid">
                                    <input type="hidden" id="txtSiteUserId" value="@_userSession.UserId">
                                    <span id="spnSiteName" class="text-danger"></span>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <label class="form-label">Contact Name</label>
                                    <input type="text" class="form-control" placeholder="Contact Name" id="txtContectPersonName" name="txtContectPersonName">
                                    <span id="spnContectPersonName" class="text-danger"></span>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <label class="form-label">Contact Phone No.</label>
                                    <input type="number" class="form-control" placeholder="Contact Phone No." id="txtContectPersonPhoneNo" name="txtContectPersonPhoneNo">
                                    <span id="spnContectPersonPhoneNo" class="text-danger"></span>
                                </div>
                                <div class="col-lg-12 col-12">
                                    <label class="form-label">Address</label> <br />
                                    <input type="checkbox" id="hideShippingAddress" name="hideShippingAddress" onchange="toggleShippingAddress()" checked>
                                    <label for="hideShippingAddress"><b>Is Your Address is same as Shipping Address?</b></label>

                                    <textarea type="text" class="form-control" rows="3" placeholder="Address" id="txtAddress" name="txtAddress"></textarea>
                                    <span id="spnAddress" class="text-danger"></span>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <label class="form-label">Landmark</label>
                                    <input type="text" class="form-control" placeholder="Landmark" id="txtArea" name="txtArea">
                                    <span id="spnArea" class="text-danger"></span>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <label class="form-label">Pincode</label>
                                    <input type="number" class="form-control" placeholder="Pincode" id="txtPincode" name="txtPincode">
                                    <span id="spnPincode" class="text-danger"></span>
                                </div>
                                <div class="col-lg-4 col-12">
                                    <label class="form-label">Country</label>
                                    <select id="ddlCountry" name="ddlCountry" class="form-select" onchange="fn_getState('stateDropdown',null,this)">
                                        <option>--Select Country--</option>
                                    </select>
                                    <input type="hidden" id="txtSiteCountry" value="" />
                                    <span id="spnCountry" class="text-danger"></span>
                                </div>
                                <div class="col-lg-4 col-12">
                                    <label class="form-label">State</label>
                                    <select id="stateDropdown" name="stateDropdown" class="form-select" onchange="fn_getcitiesbystateId('ddlCity', null, this)">
                                        <option>--Select State--</option>
                                    </select>
                                    <input type="hidden" id="txtSiteState" value="" />
                                    <span id="spnState" class="text-danger"></span>
                                </div>
                                <div class="col-lg-4 col-12">
                                    <label class="form-label">City</label>
                                    <select id="ddlCity" name="ddlCity" class="form-select">
                                        <option>--Select City--</option>
                                    </select>
                                    <input type="hidden" id="txtSiteCity" value="" />
                                    <span id="spnCity" class="text-danger"></span>
                                </div>
                                <div id="shippingAddressFields" style="display:none;">
                                    <div class="col-lg-12 col-12">
                                        <h5><b>Shipping Address</b></h5>
                                    </div>
                                    <div class="col-lg-12 col-12">
                                        <label class="form-label">Shipping Address</label>
                                        <textarea type="text" class="form-control" rows="3" placeholder="Shipping Address" id="txtShippingAddress" name="txtShippingAddress"></textarea>
                                        <span id="spnShippingAddress" class="text-danger"></span>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-12">
                                            <label class="form-label">Shipping Landmark</label>
                                            <input type="text" class="form-control" placeholder="Shipping Landmark" id="txtShippingArea" name="txtShippingArea">
                                            <span id="spnShippingArea" class="text-danger"></span>
                                        </div>
                                        <div class="col-lg-6 col-12">
                                            <label class="form-label">Shipping Pincode</label>
                                            <input type="text" class="form-control" placeholder="Shipping Pincode" id="txtShippingPincode" name="txtShippingPincode">
                                            <span id="spnShippingPincode" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-12">
                                            <label class="form-label"> Shipping Country</label>
                                            <select id="shippingCountry" name="shippingCountry" class="form-select" onchange="fn_getShippingState('ShippingState', null, this)">
                                                <option value=" ">--Select Country--</option>
                                            </select>
                                            <input type="hidden" id="txtShippingCountry" value="" />
                                            <span id="spnShippingCountry" class="text-danger"></span>
                                        </div>
                                        <div class="col-lg-4 col-12">
                                            <label class="form-label"> Shipping State</label>
                                            <select id="ShippingState" name="ShippingState" class="form-select" onchange="fn_getShippingcitiesbystateId('ShippingCity', null, this)">
                                                <option>--Select State--</option>
                                            </select>
                                            <input type="hidden" id="txtShippingState" value="" />
                                            <span id="spnShippingState" class="text-danger"></span>
                                        </div>
                                        <div class="col-lg-4 col-12">
                                            <label class="form-label">Shipping City</label>
                                            <select id="ShippingCity" name="ShippingCity" class="form-select">
                                                <option>--Select City--</option>
                                            </select>
                                            <input type="hidden" id="txtShippingCity" value="" />
                                            <span id="spnShippingCity" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-12">
                                    <h5>
                                        <b>
                                            Multiple Shipping Address
                                            <a class="font-22" id="btnaddmoresite">
                                                <i class="lni lni-circle-plus"></i>
                                            </a>
                                        </b>
                                    </h5>
                                </div>
                                <div class="col-lg-12 col-12">
                                    <div class="card border mb-3">
                                        <div id="shippingAddressTable" class="mb-2" style="height: 180px;overflow-y: scroll;">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="button" class="btn btn-lg btn-success col-lg-12" onclick="validateAndCreateSite()" id="btnSite"></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>



@section Scripts {

    <script src="~/moduls/masterlistscript.js" asp-append-version="true"></script>
    <script src="~/moduls/sitemasterscript.js" asp-append-version="true"></script>
}

