@{
    ViewData["Title"] = "POListView";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}
<style>
    .fixed-button {
        position: fixed;
        top: 90px;
        right: 20px;
        z-index: 1000;
    }
</style>
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="d-flex align-items-center">
        <form class="position-relative">
            @if (UserSession.FormPermisionData.Any(a => a.FormName == "Purchase Order List" && (a.Add == true)))
            {
                <a type="button" class="btn btn-primary fixed-button" asp-action="CreatePurchaseOrder" asp-controller="PurchaseMaster"><i class="lni lni-circle-plus"></i>PurchaseOrder</a>
            }
        </form>
    </div>
</div>

<div class="">
    <div class="">
        <div class=" radius-10 w-100">
            <div class="d-flex align-items-center">
            </div>
            <div class="my-3 border-bottom"></div>
            <div class="">
                <div class="row">
                    <div class="col-12 col-lg-12 col-md-12 col-xl-12">
                        <div class="card radius-10 w-100">
                            <div class="card-body">
                                <div class="row w-100 ac-view-list card radius-10 w-100">
                                    <div class="row ">
                                        <div class="col-12">
                                            <div class="card-body">
                                                <div class="row g-3">
                                                    <div class="col-12 col-lg-4">
                                                        <input class="form-control" id="txtPOSearch" onkeyup="filterPOTable()" placeholder="Search" />
                                                    </div>
                                                    <div class="col-12 col-lg-4">
                                                        <select class="form-select" id="ddlPOSearchBy" onchange="filterPOTable()">
                                                            <option selected="selected">All</option>
                                                            <option>SupplierName</option>
                                                        </select>
                                                    </div>

                                                    <div class="col-12 col-lg-4">
                                                        <select class="form-select" id="ddlPOSortBy" onchange="sortPOTable()">
                                                            <option value="DescendingCreatedOn" selected="selected">Last Created</option>
                                                            <option value="AscendingCreatedOn">First Created</option>
                                                            <option value="AscendingSupplierName">SupplierName(a-z)</option>
                                                            <option value="DescendingSupplierName">SupplierName(z-a)</option>
                                                        </select>
                                                    </div>
                                                </div><!--end row-->
                                            </div>
                                        </div>
                                    </div><!--end row-->
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table align-middle mb-0">
                                                <thead class="table-light">
                                                    <tr>
                                                        <th>Purchase Order Id</th>
                                                        <th>Supplier Name</th>
                                                        <th>Company Name</th>
                                                        <th>GST Amount</th>
                                                        <th>Total Amount</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="PurchaseOrderListbody">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*  <div class="col-12 col-lg-5 col-xl-5 ac-detail hide-sm">
                    <div class="card radius-10">
                    <div class="card-body" style="height:650px">
                    <h5 class="mb-0 mt-4">Purchase Order Details</h5>
                    <hr>
                    <div class="row g-3 ac-detail d-none">
                    <div class="col-6">
                    <label class="form-label">Item Name</label>
                    <input type="text" class="form-control" id="dspItemName" readonly>
                    <input type="hidden" class="form-control" id="dspItemId" readonly>
                    </div>
                    <div class="col-6">
                    <label class="form-label">Unit Name</label>
                    <input type="text" class="form-control" id="dspUnitName" readonly>
                    </div>
                    <div class="col-6">
                    <label class="form-label">Price Per Unit</label>
                    <div class="input-group mb-3">
                    <span class="input-group-text">₹</span>
                    <input type="text" class="form-control" id="dspPricePerUnit" readonly>
                    </div>
                    </div>
                    <div class="col-6">
                    <label class="form-label">IsWithGST</label>
                    <div class="form-check form-switch mb-3">
                    <input class="form-check-input font-22" id="dspWithGst" type="checkbox" style="margin-left:-35px;" disabled>
                    </div>
                    </div>
                    <div class="col-6">
                    <label class="form-label">GST Amount</label>
                    <div class="input-group mb-3">
                    <span class="input-group-text">₹</span>
                    <input type="text" class="form-control" id="dspGstAmount" readonly>
                    </div>
                    </div>
                    <div class="col-6">
                    <label class="form-label">GST %</label>
                    <input type="text" class="form-control" id="dspGstPercentage" readonly>
                    </div>
                    <div class="col-6">
                    <label class="form-label">HsnCode</label>
                    <input type="text" class="form-control" id="dspHsnCode" readonly>
                    </div>

                    </div>
                    </div>

                    </div>
                    </div> *@
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/moduls/purchaserequestscript.js"></script>
}