@{
    ViewData["Title"] = "PurchaseOrders";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

<style>
    .table tbody tr {
        border-bottom: 1px solid #ddd;
        height: 50px;
    }

    .table tbody td {
        vertical-align: middle;
        padding: 5px;
    }
</style>

<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="d-flex align-items-center">
        <form class="position-relative">
            <a type="button" class="btn btn-primary fixed-button" asp-action="CreatePurchaseOrder" asp-controller="PurchaseMaster"><i class="lni lni-circle-plus"></i>PurchaseOrder</a>
        </form>
    </div>
</div>
<div class="">
    <div class="">
        <div class="radius-10 w-100">
            <div class="my-3 border-bottom"></div>
            <div class="">
                <div class="row">
                    <div class="col-12 col-lg-7 col-md-7 col-xl-7">
                        <div class="card radius-10 w-100">
                            <div class="card-body">
                                <div class="row w-100 ac-view-list card radius-10 w-100">
                                    <div class="row ">
                                        <div class="col-12">
                                            <div class="card-body">
                                                <div class="row g-3">

                                                    <div class="col-12 col-lg-4">
                                                        <input class="form-control" id="txtPurchaseOrderSearch" onkeyup="filterPurchaseOrderTable()" placeholder="Search" />
                                                    </div>
                                                    <div class="col-12 col-lg-4">
                                                        <select class="form-select" id="ddlPurchaseOrderSearchBy" onchange="filterPurchaseOrderTable()">
                                                            <option selected="selected">All</option>
                                                            <option>SupplierName</option>
                                                            <option>TotalGstAmount</option>
                                                            <option>TotalAmount</option>
                                                        </select>
                                                    </div>

                                                    <div class="col-12 col-lg-4">
                                                        <select class="form-select" id="ddlPurchaseOrderSortBy" onchange="sortPurchaseOrderTable()">
                                                            <option value="AscendingCreatedOn" selected="selected">Last Created</option>
                                                            <option value="DescendingCreatedOn" selected="selected">First Created</option>
                                                            <option value="AscendingSupplierName">SupplierName(a-z)</option>
                                                            <option value="DescendingSupplierName">SupplierName(z-a)</option>
                                                            <option value="AscendingTotalGstAmount">TotalGstAmount-Asc </option>
                                                            <option value="DescendingTotalGstAmount">TotalGstAmount-Des</option>
                                                            <option value="AscendingTotalAmount">TotalAmount-Asc</option>
                                                            <option value="DescendingTotalAmount">TotalAmount-Des</option>
                                                        </select>
                                                    </div>
                                                </div><!--end row-->
                                            </div>
                                        </div>
                                    </div><!--end row-->
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table align-middle mb-0">
                                                <thead class="table-light btn-primary">
                                                    <tr>
                                                        <th>Supplier Name</th>
                                                        <th>GST Amount</th>
                                                        <th>Total Amount</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="PurchaseOrdertbody">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                        <!--end row-->
                    </div>
                    <div class="col-12 col-lg-5 col-xl-5 ac-detail hide-sm">
                        <div class="card radius-10">
                            <div class="card-body" style="height:650px">
                                <h5 class="mb-0 mt-4">Item Details</h5>
                                <hr>
                                <div class="card-body">
                                    <div class="table-responsive table-card">
                                        <table class="table align-middle mb-0" id="customerTable">
                                            <thead class="table-light btn-primary">
                                                <tr>
                                                    <th>InvoiceNo</th>
                                                    <th>Date</th>
                                                    <th>YouGave</th>
                                                    <th>YouGet</th>
                                                </tr>
                                                <!--end tr-->
                                            </thead>
                                            <tbody id="supplierinvoicedetails">
                                            </tbody>
                                        </table>
                                        <!--end table-->
                                    </div>
                                </div>
                                <!-- end cardbody -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
 
    <script src="~/moduls/purchaserequestscript.js" asp-append-version="true"></script>
    
}


