@model IEnumerable<AccountManagement.DBContext.Models.ViewModels.ItemMaster.ItemMasterModel>

@foreach (var item in Model)
{
    <div class="row ac-item border-2 text-sm-center p-2">
        <div class="col-5 col-sm-5 order1">
            <p id="ptimeName">@item.ItemName</p>
        </div>
        <div class="col-3 col-sm-3 order2">
            <p id="pQtyType">@item.PricePerUnit</p>
        </div>
        <div class="col-4 col-sm-4 font-22 order3">
            <div class="font-22">
                <a id="addItemButton" class="" onclick="SerchItemDetailsById('@item.ItemId')" style=""><i class="lni lni-circle-plus"></i></a>
            </div>
        </div>
    </div>
}
@section Scripts {
    <script src="~/moduls/invoicemasterscript.js" asp-append-version="true"></script>
}