@model AccountManagement.DBContext.Models.ViewModels.InvoiceMaster.SupplierInvoiceMasterView

<div class="row ac-invoice-shippingadd ShippingAddress">
    <div class="col-2 col-sm-2">
        <label id="lblshprownum1"></label>
    </div>
    <div class="col-5 col-sm-5">
        <p id="textSiteName" value="@Model.SiteId" hidden></p>
        <p id="shippingaddress">@Model.ShippingAddress</p>
    </div>
    <div class="col-2 col-sm-2">
        <a id="remove" class="btn text-primary" onclick="fn_removeShippingAdd(this)"><i class="lni lni-trash"></i></a>
    </div>
</div>

@section Scripts {
    <script src="~/moduls/invoicemasterscript.js" asp-append-version="true"></script>
}
