@model List<AccountManagement.DBContext.Models.ViewModels.InvoiceMaster.SupplierInvoiceModel>
@using AccountManegments.Web.Models;
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession

@{
    ViewData["Title"] = "_PayOutInvoicePartial";
}

<tr class="payoutinvoicerow">
    <td style="width:360px">
        <span class="row-number me-5">ROWNUMBER.</span>
    </td>
    <td style="width:360px">
        <div class="form-check form-check-inline me-1">
            <input class="form-check-input" type="radio" id="Online-ROWID" value="NEFT/RTGS" name="paymenttype-ROWID" checked>
            <label class="form-check-label" for="Online-ROWID">NEFT/RTGS</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="Cheque-ROWID" value="Cheque" name="paymenttype-ROWID">
            <label class="form-check-label" for="Cheque-ROWID">Cheque</label>
        </div>
        <input type="hidden" id="paymenttypeid-ROWID">
    </td>
    <td style="width:360px">
        @{
            DateTime invoiceDate = DateTime.Now;
            string formattedDate = invoiceDate.ToString("yyyy-MM-dd");
        }
        <input type="date" id="txtdate-ROWID" class="form-control" name="txtdate" value="@formattedDate" />
    </td>
    <td style="width:360px">
        <input type="text" class="form-control" id="txtdescription-ROWID" placeholder="Description" />
    </td>
    <td style="width:360px">
        <div class="input-group">
            <input type="text" class="form-control" id="txtpayoutamount-ROWID" name="txtpayoutamount">
        </div>
        <span id="spnpayout-ROWID" class="text-danger"></span>
    </td>
    <td style="width:360px">
        <a class="form-control btn text-primary" onclick="removePayout(this)" style="text-align: center; display: flex; justify-content: center;">
            <i class="lni lni-trash"></i>
        </a>
    </td>
</tr>





