@using AccountManegments.Web.Models;
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession

@{
    ViewData["Title"] = "CreateInvoice";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">Invoice</div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0 align-items-center">
                <li class="breadcrumb-item">
                    <a href="javascript:;"><ion-icon name="home-outline"></ion-icon></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Create Invoice</li>
            </ol>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card" id="invoiceSupplierList">
            <div class="card-body">
                <div>
                    <div class="row justify-content-center">
                        <div class="col-xxl-9">
                            <div class="card">
                                <form id="CreateInvoiceForm">
                                    <div class="card-body border-bottom border-bottom-dashed p-4">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="profile-user mx-auto  mb-3">
                                                    <label for="profile-img-file-input" class="d-block" tabindex="0">
                                                        <span class="overflow-hidden border border-dashed d-flex align-items-center justify-content-center rounded" style="height: 60px; width: 256px;">
                                                            <img src="~/UserHome/minimal/assets/images/logo - bonifatius.jpeg" class="card-logo card-logo-dark user-profile-image img-fluid" alt="logo dark">
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                            </div>
                                            <div class="col-md-4">
                                                <div>
                                                    <label class="text-muted text-uppercase fw-semibold">CompanyName</label>
                                                </div>
                                                <div class="ms-auto">
                                                    <select class="form-control bg-light border-0" id="txtCompanyName" name="txtCompanyName">
                                                        <option selected disabled value="">Select Company Name</option>
                                                    </select>
                                                    <span id="spnCompanyName" class="text-danger"></span>
                                                    <input type="hidden" class="form-control" id="createdById" value="@_userSession.UserId">
                                                    <input type="hidden" class="form-control" id="siteid" value="@UserSession.SiteId">
                                                </div>
                                            </div>
                                            <!--end col-->
                                        </div>
                                        <!--end row-->
                                    </div>
                                    <div class="card-body p-4 border-top border-top-dashed">
                                        <div class="row">
                                            <div class="col-lg-4 col-sm-6">
                                                <br />
                                                <div>
                                                    <label for="billingName" class="text-uppercase fw-semibold">Billing Address</label>
                                                </div>
                                                <div class="mb-2" id="companyBillingAddressDetails">
                                                    <div class="mb-2">
                                                        <input type="text" class="form-control bg-light border-0" name="data[#].ShippingName" id="txtBillingCompanyName" placeholder="Full Name" required />
                                                    </div>
                                                    <div class="mb-2">
                                                        <textarea class="form-control bg-light border-0" id="txtBillingAddress" name="data[#].ShippingAddress" rows="3" placeholder="Address" required></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end col-->
                                        </div>
                                        <!--end row-->
                                    </div>
                                    <div class="card-body p-4">
                                        <div class="row g-3 ">
                                            <div class="col-lg-3 col-sm-6">
                                                <label for="txtSupplierInvoiceId">Invoice No</label>
                                                <input type="text" class="form-control bg-light border-0" id="txtSupplierInvoiceId" value="@ViewBag.SupplierInvoiceNo" readonly />
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-3 col-sm-6">
                                                <div>
                                                    <div>
                                                        <label for="orderdate" class="text-muted text-uppercase fw-semibold">Order Date</label>
                                                    </div>
                                                    <div class="mb-2">
                                                        <input type="text" id="txtOrderDate" class="form-control" name="txtOrderDate" placeholder="Select Order-Date" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-3 col-sm-6">
                                                <div>
                                                    <label for="txtSupplierName" class="text-muted text-uppercase fw-semibold">Supplier Name</label>
                                                </div>
                                                <select class="form-control bg-light border-0" id="txtSupplierName" name="txtSupplierName" style="border:hidden;">
                                                    <option selected disabled value="">Select Supplier Name</option>
                                                </select>
                                                <span id="spnSupplierName" class="text-danger"></span>
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-3 col-sm-6">
                                                <div>
                                                    <div>
                                                        <label for="searchItemName" class="text-muted text-uppercase fw-semibold">Product Names</label>
                                                    </div>
                                                    <select id="searchItemName" class="form-control bg-light border-0" style="border:hidden;">
                                                        <option selected disabled value="">Select Product Name</option>
                                                    </select>
                                                    <input type="hidden" class="text-muted text-uppercase fw-semibold" id="searchItemNameId">
                                                    <div id="spnsearchItemName" class="text-danger"></div>
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="input-light">
                                                <div>
                                                    <div class="col-sm-2">
                                                        <a id="addItembutton" class="btn btn-primary fw-small" onclick="searchItemDetailById()" style="margin-left: 950px;width: 120px;">Add Product</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end col-->
                                        </div>
                                        <!--end row-->
                                    </div>

                                    <!---- Product Details ---->

                                    <div class="card-body p-4">
                                        <div class="table-responsive">
                                            <table class="invoice-table table table-bordered table-striped mb-0">
                                                <thead>
                                                    <tr>
                                                        <th class="text-start">#</th>
                                                        <th class="text-start">Product Details</th>
                                                        <th class="text-start">Rate</th>
                                                        <th class="text-start">GST (%)</th>
                                                        <th class="text-start">GST Price</th>
                                                        <th class="text-start">Quantity</th>
                                                        <th class="text-start">Amount</th>
                                                        <th class="text-end">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="addNewlink">
                                                </tbody>
                                            </table>
                                        </div>
                                        <tbody>
                                            <tr id="newForm" style="display: none;"><td class="d-none" colspan="5"></td></tr>
                                            <tr class="border-top border-top-dashed mt-2">
                                                <td colspan="3"></td>
                                                <td colspan="2" class="p-0">
                                                    <table class="table table-borderless table-sm table-nowrap align-middle mb-0">
                                                        <tbody>
                                                            <tr>
                                                                <th scope="row">Sub Total</th>
                                                                <td style="width:150px;">
                                                                    <input type="text" class="form-control bg-light border-0" id="cart-subtotal" placeholder="₹0.00" readonly />
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">Total Gst(18%)</th>
                                                                <td>
                                                                    <input type="text" class="form-control bg-light border-0" id="totalgst" placeholder="₹0.00" readonly />
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">Discount <small class="text-muted">()</small></th>
                                                                <td>
                                                                    <input type="text" class="form-control bg-light border-0" id="cart-discount" placeholder="₹0.00" readonly />
                                                                </td>
                                                            </tr>
                                                            <tr class="border-top border-top-dashed">
                                                                <th scope="row">Total Amount</th>
                                                                <td>
                                                                    <input type="text" class="form-control bg-light border-0" id="cart-total" placeholder="₹0.00" readonly />
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!--end table-->
                                                </td>
                                            </tr>
                                        </tbody>

                                        <div class="row mt-3">
                                            <div class="col-lg-4">
                                                <div class="mb-2">
                                                    <label for="choices-payment-type" class="form-label text-muted text-uppercase fw-semibold">Discription</label>
                                                    <div class="mb-2">
                                                        <input type="text" id="txtPaymentStatus" class="form-control" name="txtDiscription" placeholder="Enter Discription" />
                                                        <span id="spnPaymentStatus" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end col-->                               
                                        </div>
                                        <!--end row-->
                                        <div class="mt-4">
                                            <label for="exampleFormControlTextarea1" class="form-label text-muted text-uppercase fw-semibold">NOTES</label>
                                            <textarea class="form-control alert alert-info" id="exampleFormControlTextarea1" placeholder="Notes" rows="2" required>All accounts are to be paid within 7 days from receipt of invoice. To be paid by cheque or credit card or direct payment online. If account is not paid within 7 days the credits details supplied as confirmation of work undertaken will be charged the agreed quoted fee noted above.</textarea>
                                        </div>
                                        <div class="hstack gap-2 justify-content-end d-print-none mt-4">
                                            <button type="button" class="btn btn-success" onclick="validateAndInsertSupplierItem()"><i class="ri-printer-line align-bottom me-1"></i> Save</button>
                                            <a href="javascript:void(0);" class="btn btn-primary"><i class="ri-download-2-line align-bottom me-1"></i> Download Invoice</a>
                                            <a href="javascript:void(0);" class="btn btn-danger"><i class="ri-send-plane-fill align-bottom me-1"></i> Send Invoice</a>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end col-->
</div>
<!--end row-->


@section Scripts {
    <script src="~/moduls/invoicemasterscript.js"></script>
}

