@{
    ViewData["Title"] = "InvoiceListView";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">Invoice</div>
    <div class="ps-3 flex-grow-1">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0 align-items-center">
                <li class="breadcrumb-item">
                    <a href="javascript:;"><ion-icon name="home-outline"></ion-icon></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Supplier Invoice List</li>
            </ol>
        </nav>
    </div>
    <div class="d-flex align-items-center">
        <form class="position-relative">
            <a type="button" class="btn btn-primary" asp-action="CreateInvoice" asp-controller="InvoiceMaster"><i class="lni lni-circle-plus"></i>Create Invoice</a>
        </form>
    </div>
</div>
<div class="">
    <div class="">
        <div class=" radius-10 w-100">
            <div class="my-3 border-bottom"></div>
            <div class="">
                <div class="row">
                    <div class="col-12 col-lg-7 col-md-7 col-xl-7">
                        <div class="card radius-10 w-100">
                            <div class="card-body">
                                <div class="row w-100 ac-view-list card radius-10 w-100">
                                    <div class="row ">
                                        <div class="col-12">
                                            <div class="card-body">
                                                <div class="row g-3">
                                                    <div class="col-12 col-lg-4">
                                                        <input class="form-control" id="txtInvoiceSearch" onkeyup="filterInvoiceTable()" placeholder="Search">
                                                    </div>
                                                    <div class="col-12 col-lg-4">
                                                        <select class="form-select" id="InvoiceSearchBy" onchange="filterInvoiceTable()">
                                                            <option selected="selected">All</option>
                                                            <option value="sitename">SiteName</option>
                                                            <option value="companyname">Company</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-12 col-lg-4">
                                                        <select class="form-select" id="SortByInvoice" onchange="InvoiceSortTable()">
                                                            <option value="AscendingCreatedOn" selected="selected">Last Created</option>
                                                            <option value="DescendingCreatedOn">First Created</option>
                                                            <option value="AscendingInvoiceNo">Invoice (a-z)</option>
                                                            <option value="DescendingInvoiceNo">Invoice(z-a)</option>
                                                        </select>
                                                    </div>
                                                </div><!--end row-->

                                            </div>

                                        </div>

                                    </div>

                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table align-middle mb-0">
                                                <thead class="table-light">
                                                    <tr>
                                                        <th>Invoice</th>
                                                        <th>Site</th>
                                                        <th>Supplier</th>
                                                        <th>Company</th>
                                                        <th>Total Amount</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="Invoicetbody">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                        <!--end row-->


                    </div>
                    <div class="col-12 col-lg-5 col-xl-5 ac-detail hide-sm" hidden>
                        <div class="card radius-10">
                            <div class="card-body" style="height:650px">
                                <h5 class="mb-0 mt-4">Supplier  Information</h5>
                                <hr>
                                <div class="row g-3 ac-detail d-none">
                                    <div class="col-6">
                                        <label class="form-label">Supplier Name</label>
                                        <input type="text" class="form-control" id="dspSupplierName" readonly>
                                        <input type="hidden" class="form-control" id="dspSupplierId" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">Email</label>
                                        <input type="text" class="form-control" id="dspEmail" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">Phone</label>
                                        <input type="text" class="form-control" id="dspPhoneNo" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">Area</label>
                                        <input type="text" class="form-control" id="dspArea" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">BuildingName</label>
                                        <input type="text" class="form-control" id="dspBuildingName" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">State</label>
                                        <input type="text" class="form-control" id="dspStateName" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">City</label>
                                        <input type="text" class="form-control" id="dspCityName" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">PinCode</label>
                                        <input type="text" class="form-control" id="dspPinCode" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">BankName</label>
                                        <input type="text" class="form-control" id="dspBankName" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">AccountNo</label>
                                        <input type="text" class="form-control" id="dspAccountNo" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">Iffccode</label>
                                        <input type="text" class="form-control" id="dspIffccode" readonly>
                                    </div>
                                </div>
                                @* </form> *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="offcanvas offcanvas-end border-0 w-25 ac-add-edit" tabindex="-1" id="createSupplier" hidden>
        <div class="d-flex align-items-center bg-primary bg-gradient p-3 offcanvas-header">
            <h5 class="m-0 me-2 text-white">Create Supplier</h5>
            <button type="button" class="btn-close btn-close-white ms-auto" id="customizerclose-btn" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body p-0">
            <div data-simplebar class="h-100">
                <div class="p-4">
                    <div class="card">
                        <div class="card-body">
                            <form class="row g-3" id="SupplierForm">
                                <div class="col-md-12">
                                    <label class="form-label">Supplier Name</label>
                                    <input type="text" class="form-control" placeholder="Supplier Name" id="txtSupplierName" required>
                                    <span id="spnSupplier" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">Phone Number</label>
                                    <input type="text" class="form-control" placeholder="Phone Number" id="txtPhoneNo" required>
                                    <span id="spnPhoneNo" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">Email</label>
                                    <input type="text" class="form-control" placeholder="Email Address" id="txtEmail" required>
                                    <span id="spnEmail" class="text-danger"></span>
                                </div>
                                <div class="col-md-12">
                                    <label class="form-label">GST Number</label>
                                    <input type="text" class="form-control" placeholder="GST Number" id="txtGST" required>
                                    <span id="spnGST" class="text-danger"></span>
                                </div>
                                <div class="col-md-12">
                                    <label class="form-label">Building Name</label>
                                    <input type="text" class="form-control" placeholder="Building Name" id="txtBuilding" required>
                                    <span id="spnBuilding" class="text-danger"></span>
                                </div>
                                <div class="col-md-12">
                                    <label class="form-label">Area</label>
                                    <textarea type="text" class="form-control" rows="3" placeholder="Area" id="txtArea" required style="height: 75px;"></textarea>
                                    <span id="spnArea" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">PinCode</label>
                                    <input type="text" class="form-control" placeholder="PinCode" id="txtPinCode" required>
                                    <span id="spnPinCode" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">City</label>
                                    <select id="ddlCity" class="form-control bg-transparent">
                                        <option value="0">--Select City--</option>
                                    </select>
                                    <input type="hidden" id="txtcity" value="" />
                                    <span class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">State</label>
                                    <select id="dropState" class="form-control bg-transparent" onclick="fn_getcitiesbystateId('ddlCity',null,this)">
                                        <option value="0" selected>--Select State--</option>
                                    </select>
                                    <input type="hidden" id="txtstate" value="" />
                                    <span class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">Country</label>
                                    <select id="ddlCountry" class="form-control bg-transparent" onchange="fn_getState('dropState',null,this)">
                                        <option>--Select Country--</option>
                                    </select>
                                    <span class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <h5><b>Bank Details</b></h5>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">Bank Name</label>
                                    <input type="text" class="form-control" placeholder="Bank Name" id="txtBank" required>
                                    <span id="spnBank" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">Account Number</label>
                                    <input type="text" class="form-control" placeholder="Account Number" id="txtAccount" required>
                                    <span id="spnAccount" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">IFFC Code</label>
                                    <input type="text" class="form-control" placeholder="IFFC Code" id="txtIFFC" required>
                                    <span id="spnIFFC" class="text-danger"></span>
                                </div>
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-lg btn-success col-lg-12" onclick="validateAndCreateSupplier()" id="btnuser">Submit</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

@section Scripts {
    <script src="~/moduls/invoicemasterscript.js"></script>

}
