@using AccountManegments.Web.Models;
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@{
    ViewData["Title"] = "Payment Out";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}
<input type="hidden" id="txtSiteId" value="@UserSession.SiteId" hidden />
<input type="hidden" id="txtUserId" value="@_userSession.UserId" hidden />


<div class="">
    <div class="">
        <div class=" radius-10 w-100">
            <div class="d-flex align-items-center">
            </div>
            <div class="my-3 border-bottom"></div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row justify-content-center">
                        <div class="col-xxl-12">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body d-flex justify-content-between align-items-center">
                                            <div class="d-flex flex-fill me-3">
                                                <div class="me-3">
                                                    <select id="txtcompanyname" name="txtcompanyname" class="form-control">
                                                        <option value="">Select Company</option>
                                                    </select>
                                                    <input type="hidden" id="txtcompanynameHidden" name="txtcompanynameHidden" />
                                                    <span id="spncompany" style="color: red;"></span>
                                                </div>

                                                <div class="me-3">
                                                    <input type="text" id="txtSuppliername" name="txtSuppliername" class="form-control" placeholder="Supplier" />
                                                    <input type="hidden" id="txtSuppliernameHidden" name="txtSuppliernameHidden" />
                                                    <span id="spnsupplier" style="color: red;"></span>
                                                </div>
                                                <div class="me-3">

                                                    <h3 class="mb-2 d-inline" id="txttotalpurchase">₹<span class="counter-value">0</span><small class="text-muted fs-13"></small></h3>
                                                    <h6 class="text-muted mb-0 text-center">Total Purchase</h6>

                                                </div>
                                                <div class="me-3">

                                                    <h3 class="mb-2 d-inline text-success" id="txttotalcreditamount"></h3>
                                                    <h6 class="text-muted mb-0 text-center">Credit Amount</h6>
                                                </div>
                                                <div class="me-3">
                                                    <h3 class="mb-2 d-inline text-danger" id="txttotalpendingamount"></h3>
                                                    <h6 class="text-muted mb-0 text-center">Pending Amount</h6>
                                                </div>
                                            </div>
                                            <div>
                                                <a class="btn btn-primary" id="AddNewRowforPayOutInvoice" onclick="AddNewRowforPayOutInvoicebtn()">
                                                    <i class="lni lni-circle-plus"></i> Add PayOut
                                                </a>
                                                <span id="spnitembutton" style="color:red;"></span>
                                            </div>
                                        </div><!--end card-header-->
                                        <div class="card-body pt-0">
                                            <div class="table-responsive">
                                                <table class="table align-middle mb-0">
                                                    <thead class="table-light btn-primary">
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Payment Status</th>
                                                            <th>Date</th>
                                                            <th>Description</th>
                                                            <th>Amount</th>
                                                            <th>Action</th>
                                                    </thead>

                                                    <tbody id="payoutpartialView">
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="hstack gap-2 justify-content-end d-print-none mt-4" id="payoutsubmitbutton" style="display:none;">
                                                <button type="button" class="btn btn-primary" id="creditdebitsubmitbtn" style="width: 150px;height: 40px;" onclick="InsertPayOutDetails()">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--end card-->
@section Scripts {
    <script src="~/moduls/payoutscript.js" asp-append-version="true"></script>
}
