@model AccountManagement.DBContext.Models.ViewModels.UserModels.LoginRequest

<!doctype html>
<html lang="en" class="light-theme">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--plugins-->
    <link href="~/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- CSS Files -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/css/bootstrap-extended.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

    <title>Dashkote - Bootstrap5 Admin Template</title>
</head>

<body class="bg-white">

    <!--start wrapper-->
    <div class="wrapper">
        <div class="">
            <div class="row g-0 m-0">
                <div class="col-xl-6 col-lg-12">
                    <div class="login-cover-wrapper">
                        <div class="card shadow-none">
                            <div class="card-body">
                                <div class="text-center">
                                    <h6>Welcome To</h6>
                                    <h2>D. M.Infra</h2>
                                    <p>Sign In to your account</p>
                                </div>
                                <form class="form-body row g-3" asp-action="UserLogin" asp-controller="Authentication" method="post">
                                    <div class="col-12">
                                        <label for="inputEmail" class="form-label">User Name</label>
                                        <input type="text" class="form-control" asp-for="UserName" placeholder="User Name" value="@ViewBag.UserName">
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>
                                    <div class="col-12">
                                        <label for="inputPassword" class="form-label">Password</label>
                                        <div class="input-group">
                                            <input type="password" class="form-control" asp-for="Password" placeholder="Password" value="@ViewBag.Password">
                                            <span class="input-group-text">
                                                <button class="btn btn-link password-addon" type="button" id="password-addon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                                </button>
                                            </span>
                                        </div>
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                        <span class="text-danger">@TempData["ErrorMessage"]</span>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckRemember" asp-for=RememberMe checked="@ViewBag.chkRememberMe">
                                            <label class="form-check-label" for="flexSwitchCheckRemember">Remember Me</label>
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-12">
                                        <div class="d-grid">
                                            <button type="submit" class="btn btn-primary">Sign In</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12">
                    <div class="position-fixed top-0 h-100 d-xl-block d-none login-cover-img">
                    </div>
                </div>
            </div>
            <!--end row-->
        </div>
    </div>
    <!--end wrapper-->


</body>

</html>