
@{
    ViewData["Title"] = "ItemListView";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">Items</div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0 align-items-center">
                <li class="breadcrumb-item">
                    <a href="javascript:;"><ion-icon name="home-outline"></ion-icon></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Item Details</li>
            </ol>
        </nav>
    </div>
</div>
<div class="">
    <div class="">
        <div class=" radius-10 w-100">
            <div class="d-flex align-items-center">
                <h2 class="h5 mb-0">Item Details</h2>
                <form class="ms-auto position-relative">
                    <button type="button" class="btn btn-info px-5" onclick="ClearTextBox()"><i class="lni lni-circle-plus"></i>Add Item</button>
                </form>
            </div>
            <div class="my-3 border-bottom"></div>
            <div class="">

                <div class="row">
                    <div class="col-12 col-lg-7 col-md-7 col-xl-7">
                        <div class="card radius-10 w-100">
                            <div class="card-body">
                                <div class="row ">
                                    <div class="col-12">
                                        <div class="card-body">
                                            <div class="row g-3">

                                                <div class="col-12 col-lg-4">
                                                    <input class="form-control" id="txtSearch" onkeyup="filterTable()" placeholder="Search"/>
                                                </div>
                                                <div class="col-12 col-lg-4">
                                                    <select class="form-select" id="ddlSearchBy" onchange="filterTable()">
                                                        <option selected="selected">All</option>
                                                        <option>ItemName</option>
                                                        <option>PerUnitPrice</option>
                                                        <option>IsApproved</option>
                                                    </select>
                                                </div>

                                                <div class="col-12 col-lg-4">
                                                    <select class="form-select" id="ddlSortBy" onchange="sortTable()">
                                                        <option value="DescendingCreatedOn" selected="selected">Default sorting</option>
                                                        <option value="AscendingItemName">Ascending ItemName</option>
                                                        <option value="DescendingItemName">Descending ItemName</option>
                                                        <option value="AscendingPerUnitPrice">Ascending PerUnitPrice</option>
                                                        <option value="DescendingPerUnitPrice">Descending PerUnitPrice</option>
                                                        <option value="AscendingIsApproved">Ascending IsApproved</option>
                                                        <option value="DescendingIsApproved">Descending IsApproved</option>
                                                    </select>
                                                </div>
                                            </div><!--end row-->

                                        </div>

                                    </div>

                                </div>

                                <div class="row w-100 ac-view-list">

                                    <div class="row hide-sm table-light" style="position:sticky;TOP:0;z-index:99;background: #923eb9!important;height: 32px;padding-top: 5px;margin-right: 0px;">
                                        <div class="col-4 text-center">
                                            <h5>Item Name</h5>
                                        </div>
                                        <div class="col-4 text-center">
                                            <h5>PerUnitPrice</h5>
                                        </div>
                                        <div class="col-2 text-center">
                                            <h5>Is Approved</h5>
                                        </div>
                                        <div class="col-2 text-center">
                                            <h5>Action</h5>
                                        </div>
                                    </div>
                                    <div class="card" id="itemtbody">
                                    </div>

                                </div>
                                <div class="table-responsive mt-2  d-none" style="max-height:200PX;">
                                    <table class="table align-middle mb-0" style="">
                                        <thead class="table-light" id="itemTable">
                                            <tr>
                                                <th>Item Name</th>
                                                <th class="mb-2">PerUnitPrice</th>
                                                <th class="mb-2">Is Approved</th>
                                                <th class="mb-2">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="itemtbody" style="max-height:20PX;">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--end row-->


                    </div>
                    <div class="col-12 col-lg-5 col-xl-5 ac-detail hide-sm">
                        <div class="card radius-10">
                            <div class="card-body">
                                <h5 class="mb-0 mt-4">Item Details</h5>
                                <hr>
                                <div class="row g-3">
                                    <div class="col-6">
                                        <label class="form-label">Item Name</label>
                                        <input type="text" class="form-control" id="dspItemName" readonly>
                                        <input type="hidden" class="form-control" id="dspItemId" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">Unit Name</label>
                                        <input type="text" class="form-control" id="dspUnitName" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">Price Per Unit</label>
                                        <input type="text" class="form-control" id="dspPricePerUnit" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">Price With Gst</label>
                                        <input type="text" class="form-control" id="dspWithGst" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">Gst Amount</label>
                                        <input type="text" class="form-control" id="dspGstAmount" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">HsnCode</label>
                                        <input type="text" class="form-control" id="dspHsnCode" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">IsApproved</label>
                                        <input type="text" class="form-control" id="dspIsApproved" readonly>
                                    </div>

                                </div>
                            </div>
                            @* </form> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="offcanvas offcanvas-end border-0 w-25 ac-add-edit" tabindex="-1" id="CreateItem">
        <div class="d-flex align-items-center bg-primary bg-gradient p-3 offcanvas-header">
            <h5 class="m-0 me-2 text-white">Create Item</h5>

            <button type="button" class="btn-close btn-close-white ms-auto" id="customizerclose-btn" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body p-0">
            <div data-simplebar class="h-100">
                <div class="p-4">
                    <div class="card">
                        <div class="card-body">
                            <form class="row g-3" id="userForm">
                                <div class="col-12">
                                    <label class="form-label">Item Name</label>
                                    <input type="text" class="form-control form-control-lg mb-3" placeholder="Item Name" id="txtItemName" required>
                                    <input type="hidden" id="txtItemid">
                                    <span id="spnItemName" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <label class="form-label">Unit Type</label>
                                    <select class="form-control form-control-lg mb-3" id="txtUnitType" required>
                                        <option selected disabled value="">--Select--</option>
                                    </select>
                                    <span id="spnUnitType" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <label class="form-label">PricePerUnit</label>
                                    <input type="text" class="form-control form-control-lg mb-3" placeholder="Price Per Unit" id="txtPricePerUnit" required>
                                    <span id="spnPricePerUnit" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <label class="form-label">GstAmount</label>
                                    <input type="text" class="form-control form-control-lg mb-3" placeholder="Gst Amount" id="txtGstAmount" required>
                                    <span id="spnGstAmount" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <label class="form-label">GstPerUnit</label>
                                    <input type="text" class="form-control form-control-lg mb-3" placeholder="Gst Per Unit" id="txtGstPerUnit" required>
                                    <span id="spnGstPerUnit" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <label class="form-label">HSNCode</label>
                                    <input type="text" class="form-control form-control-lg mb-3" placeholder="HSN Code" id="txtHSNCode" required>
                                    <span id="spnHSNCode" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <button type="button" class="btn btn-lg btn-success col-lg-12" onclick="validateAndCreateItem()" id="btnitem"></button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
    @section Scripts {
    <script src="~/moduls/itemmasterscript.js"></script>
    }
