@{
    ViewData["Title"] = "ItemListView";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">Items</div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0 align-items-center">
                <li class="breadcrumb-item">
                    <a href="javascript:;"><ion-icon name="home-outline"></ion-icon></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Item Details</li>
            </ol>
        </nav>
    </div>
</div>
<div class="">
    <div class="">
        <div class=" radius-10 w-100">
            <div class="d-flex align-items-center">

                <form class="ms-auto position-relative">
                    <button type="button" class="btn btn-info px-5" onclick="ClearTextBox()"><i class="lni lni-circle-plus"></i>Add Item</button>
                </form>
            </div>
            <div class="my-3 border-bottom"></div>
            <div class="">

                <div class="row">
                    <div class="col-12 col-lg-7 col-md-7 col-xl-7">
                        <div class="card radius-10 w-100">
                            <div class="card-body">
                                <div class="row ">
                                    <div class="col-12">
                                        <div class="card-body">
                                            <div class="row g-3">

                                                <div class="col-12 col-lg-4">
                                                    <input class="form-control form-select-lg" id="txtItemSearch" onkeyup="filterTable()" placeholder="Search" />
                                                </div>
                                                <div class="col-12 col-lg-4">
                                                    <select class="form-select form-select-lg" id="ddlItemSearchBy" onchange="filterItemTable()">
                                                        <option selected="selected">All</option>
                                                        <option>ItemName</option>
                                                        <option>PerUnitPrice</option>
                                                        <option>IsApproved</option>
                                                    </select>
                                                </div>

                                                <div class="col-12 col-lg-4">
                                                    <select class="form-select form-select-lg" id="ddlItemSortBy" onchange="sortItemTable()">
                                                        <option value="AscendingCreatedOn" selected="selected">Last Created</option>
                                                        <option value="DescendingCreatedOn" selected="selected">First Created</option>
                                                        <option value="AscendingItemName">ItemName(a-z)</option>
                                                        <option value="DescendingItemName">ItemName(z-a)</option>
                                                        <option value="AscendingPerUnitPrice">PerUnitPrice-Asc </option>
                                                        <option value="DescendingPerUnitPrice">PerUnitPrice-Des</option>
                                                    </select>
                                                </div>
                                            </div><!--end row-->

                                        </div>

                                    </div>

                                </div>

                                <div class="row w-100 ac-view-list">
                                    <div class="row hide-sm table-light ac-view-header">
                                        <div class="col-5 text-center">
                                            <h5>Item Name</h5>
                                        </div>
                                        <div class="col-3 ">
                                            <h5>Price</h5>
                                        </div>
                                        <div class="col-2 ">
                                            <h5>Approved</h5>
                                        </div>
                                        <div class="col-2">
                                            <h5>Action</h5>
                                        </div>
                                    </div>
                                    <div class="card" id="itemtbody">
                                    </div>

                                </div>

                            </div>
                        </div>
                        <!--end row-->


                    </div>
                    <div class="col-12 col-lg-5 col-xl-5 ac-detail hide-sm">
                        <div class="card radius-10">
                            <div class="card-body" style="height:650px">
                                <h5 class="mb-0 mt-4">Item Details</h5>
                                <hr>
                                <div class="row g-3 ac-detail d-none">
                                    <div class="col-6">
                                        <label class="form-label">Item Name</label>
                                        <input type="text" class="form-control" id="dspItemName" readonly>
                                        <input type="hidden" class="form-control" id="dspItemId" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">Unit Name</label>
                                        <input type="text" class="form-control" id="dspUnitName" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">Price Per Unit</label>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">₹</span>
                                            <input type="text" class="form-control" id="dspPricePerUnit" readonly>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">IsWithGST</label>
                                        <div class="form-check form-switch mb-3">
                                            <input class="form-check-input font-22" id="dspWithGst" type="checkbox" style="margin-left:-35px;" readonly>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">GST Amount</label>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">₹</span>
                                            <input type="text" class="form-control" id="dspGstAmount" readonly>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">GST %</label>
                                        <input type="text" class="form-control" id="dspGstPercentage" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">HsnCode</label>
                                        <input type="text" class="form-control" id="dspHsnCode" readonly>
                                    </div>

                                </div>
                            </div>
                            @* </form> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="offcanvas offcanvas-end border-0 w-25 ac-add-edit" tabindex="-1" id="CreateItem">
        <div class="d-flex align-items-center bg-primary bg-gradient p-3 offcanvas-header">
            <h5 class="m-0 me-2 text-white">Create Item</h5>

            <button type="button" class="btn-close btn-close-white ms-auto" id="customizerclose-btn" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body p-0">
            <div data-simplebar class="h-100">
                <div class="p-4">
                    <div class="card">
                        <div class="card-body">
                            <form class="row g-3" id="userForm">
                                <div class="col-12">
                                    <label class="form-label">Item Name</label>
                                    <input type="text" class="form-control form-control mb-3" placeholder="Item Name" id="txtItemName" required>
                                    <input type="hidden" id="txtItemid">
                                    <span id="spnItemName" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <label class="form-label">Unit Type</label>
                                    <select class="form-control form-control mb-3" id="txtUnitType" required>
                                        <option selected disabled value="">--Select--</option>
                                    </select>
                                    <span id="spnUnitType" class="text-danger"></span>
                                </div>
                                <div class="col-8">
                                    <label class="form-label">Price</label>
                                    <input type="text" class="form-control form-control mb-3" placeholder="Price Per Unit" id="txtPricePerUnit" required>
                                    <span id="spnPricePerUnit" class="text-danger"></span>
                                </div>
                                <div class="col-4">
                                    <label class="form-label">IsWithGST</label>
                                    <div class="form-check form-switch mb-3">
                                        <input class="form-check-input font-22" id="txtIsWithGst" type="checkbox">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label class="form-label">GST Amount</label>
                                    <input type="text" class="form-control form-control mb-3" placeholder="Gst Amount" id="txtGstAmount" required>
                                    <span id="spnGstAmount" class="text-danger"></span>
                                </div>
                                <div class="col-6">
                                    <label class="form-label">GST%</label>
                                    <input type="text" class="form-control form-control mb-3" placeholder="Gst %" id="txtGstPerUnit" required>
                                    <span id="spnGstPerUnit" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <label class="form-label">HSN Code</label>
                                    <input type="text" class="form-control form-control mb-3" placeholder="HSN Code" id="txtHSNCode" required>
                                    <span id="spnHSNCode" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <button type="button" class="btn btn-lg btn-success col-lg-12" onclick="validateAndCreateItem()" id="btnitem"></button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
@section Scripts {
    <script src="~/moduls/itemmasterscript.js"></script>
}
