@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@{
    ViewData["Title"] = "Item Master";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}
<style>
    .fixed-button {
        position: fixed;
        top: 80px;
        right: 20px;
        z-index: 1000;
    }

    .fixedButton {
        position: fixed;
        top: 80px;
        right: 170px;
        z-index: 1000;
    }
</style>
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="d-flex align-items-center">
        <form class="position-relative">
            @if (UserSession.FormPermisionData.Any(a => a.FormName == "Item" && (a.Add == true)))
            {
                <button type="button" class="btn btn-success" onclick="downloadFile()">Download File</button>
                <button type="button" data-bs-toggle="modal" data-bs-target="#flipModal" class="btn btn-success px-5 fixedButton">Upload File</button>
                <button type="button" class="btn btn-primary fixed-button" onclick="ClearTextBox()"><i class="lni lni-circle-plus"></i>Create Item</button>
            }
        </form>
    </div>
</div>
<div class="">
    <div class="">
        <div class=" radius-10 w-100">
            <div class="my-3 border-bottom"></div>
            <div class="">
                <div class="row">
                    <div class="col-12 col-lg-7 col-md-7 col-xl-7">
                        <div class="card radius-10 w-100">
                            <div class="card-body">
                                <div class="row w-100 ac-view-list card radius-10 w-100">
                                    <div class="row ">
                                        <div class="col-12">
                                            <div class="card-body">
                                                <div class="row g-3">
                                                    @if (ViewBag.Code != null && ViewBag.Message != null)
                                                    {
                                                        <div class="alert alert-danger d-flex align-items-center justify-content-between" role="alert">
                                                            <h3 class="text-danger">@ViewBag.Code @ViewBag.Message</h3>
                                                            <button id="errorCloseButton" class="btn btn-outline-danger btn-lg" aria-label="Close">×</button>
                                                        </div>
                                                    }

                                                    <div class="col-12 col-lg-4">
                                                        <input class="form-control" id="txtItemSearch" onkeyup="filterItemTable()" placeholder="Search" />
                                                    </div>
                                                    <div class="col-12 col-lg-4">
                                                        <select class="form-select" id="ddlItemSearchBy" onchange="filterItemTable()">
                                                            <option selected="selected">All</option>
                                                            <option>ItemName</option>
                                                            <option>PerUnitPrice</option>
                                                            <option>IsApproved</option>
                                                        </select>
                                                    </div>

                                                    <div class="col-12 col-lg-4">
                                                        <select class="form-select" id="ddlItemSortBy" onchange="sortItemTable()">
                                                            <option value="DescendingCreatedOn" selected="selected">Most Recent</option>
                                                            <option value="AscendingCreatedOn">First Created</option>
                                                            <option value="AscendingItemName">ItemName(a-z)</option>
                                                            <option value="DescendingItemName">ItemName(z-a)</option>
                                                            <option value="AscendingPerUnitPrice">PerUnitPrice-Asc </option>
                                                            <option value="DescendingPerUnitPrice">PerUnitPrice-Des</option>
                                                        </select>
                                                    </div>
                                                </div><!--end row-->
                                            </div>
                                        </div>
                                    </div><!--end row-->
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table align-middle mb-0">
                                                <thead class="table-light">
                                                    <tr>
                                                        <th>Item Name</th>
                                                        <th>Price</th>
                                                        <th>Approved</th>
                                                        @if (UserSession.FormPermisionData.Any(a => a.FormName == "Item" && (a.Edit == true || a.Delete == true)))
                                                        {
                                                            <th>Action</th>
                                                        }
                                                    </tr>
                                                </thead>
                                                <tbody id="itemtbody">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                        <!--end row-->


                    </div>
                    <div class="col-12 col-lg-5 col-xl-5 ac-detail hide-sm">
                        <div class="card radius-10">
                            <div class="card-body" style="height:650px">
                                <h5 class="mb-0 mt-4">Item Details</h5>
                                <hr>
                                <div class="row g-3 ac-detail d-none">
                                    <div class="col-6">
                                        <label class="form-label">Item Name</label>
                                        <input type="text" class="form-control" id="dspItemName" readonly>
                                        <input type="hidden" class="form-control" id="dspItemId" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">Unit Name</label>
                                        <input type="text" class="form-control" id="dspUnitName" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">Price Per Unit</label>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">₹</span>
                                            <input type="text" class="form-control" id="dspPricePerUnit" readonly>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">IsWithGST</label>
                                        <div class="form-check form-switch mb-3">
                                            <input class="form-check-input font-22" id="dspWithGst" type="checkbox" style="margin-left:-35px;" disabled>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">GST Amount</label>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">₹</span>
                                            <input type="text" class="form-control" id="dspGstAmount" readonly>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">GST %</label>
                                        <input type="text" class="form-control" id="dspGstPercentage" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">HsnCode</label>
                                        <input type="text" class="form-control" id="dspHsnCode" readonly>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="offcanvas offcanvas-end border-0 w-25 ac-add-edit" tabindex="-1" id="CreateItem">
        <div class="d-flex align-items-center bg-primary bg-gradient p-3 offcanvas-header">
            <h5 class="m-0 me-2 text-white">Create Item</h5>
            <button type="button" class="btn-close btn-close-white ms-auto" id="customizerclose-btn" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body p-0">
            <div data-simplebar class="h-100">
                <div class="p-4">
                    <div class="card">
                        <div class="card-body">
                            <form class="row g-3" id="ItemMsterForm">
                                <div class="col-12">
                                    <label class="form-label">Item Name</label>
                                    <input type="text" class="form-control form-control" placeholder="Item Name" id="txtItemName" name="txtItemName">
                                    <input type="hidden" id="txtItemid">
                                    <span id="spnItemName" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <label class="form-label">Unit Type</label>
                                    <select class="single-select form-select" id="txtUnitType">
                                        <option selected value="">--Select--</option>
                                    </select>
                                    <span id="spnUnitType" class="text-danger"></span>
                                </div>
                                <div class="col-8">
                                    <label class="form-label">Price</label>
                                    <input type="number" class="form-control form-control" placeholder="Price Per Unit" id="txtPricePerUnit" name="txtPricePerUnit">
                                    <span id="spnPricePerUnit" class="text-danger"></span>
                                </div>
                                <div class="col-4">
                                    <label class="form-label">IsWithGST</label>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input font-22" id="txtIsWithGst" type="checkbox" style="margin-left:-35px;">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label class="form-label">GST Amount</label>
                                    <input type="text" class="form-control form-control" placeholder="Gst Amount" id="txtGstAmount" name="txtGstAmount">
                                    <span id="spnGstAmount" class="text-danger"></span>
                                </div>
                                <div class="col-6">
                                    <label class="form-label">GST%</label>
                                    <input type="text" class="form-control form-control" placeholder="Gst %" id="txtGstPerUnit" name="txtGstPerUnit">
                                    <span id="spnGstPerUnit" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <label class="form-label">HSN Code</label>
                                    <input type="text" class="form-control form-control" placeholder="HSN Code" id="txtHSNCode">
                                    <span id="spnHSNCode" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <button type="button" class="btn btn-lg btn-success col-lg-12" onclick="validateAndCreateItem()" id="btnitem"></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div id="flipModal" class="modal fade flip" tabindex="-1" aria-labelledby="flipModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form asp-action="ImportExcelFile" asp-controller="ItemMaster" method="post" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h5 class="modal-title" id="flipModalLabel">Upload Excel File</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="hstack gap-3 align-items-start">
                            <div class="flex-grow-1">
                                <label>Upload Excel File :</label>
                                <input type="file" name="FormFile" class="form-control" accept=".csv,.xls,.xlsx" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->

        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
<style>
    #txtItemName-error, #txtUnitType-error, #txtPricePerUnit-error,
    #txtGstAmount-error, #txtGstPerUnit-error {
        color: red;
    }

    label.failed {
        color: red;
    }
</style>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/moduls/itemmasterscript.js"></script>
}
