@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@{
    ViewData["Title"] = "Company Master";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}
<style>
    .fixed-button {
        position: fixed;
        top: 80px;
        right: 20px;
        z-index: 1000;
    }
</style>
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="d-flex align-items-center">
        <form class="position-relative">
            @if (UserSession.FormPermisionData.Any(a => a.FormName == "Company" && (a.Add == true)))
            {
                <div style="margin-left: auto;">
                    <button type="button" class="btn btn-primary fixed-button" onclick="ClearTextBox()"><i class="lni lni-circle-plus"></i>Add Company</button>
                </div>
            }
        </form>
    </div>
</div>

<div class="">
    <div class="">
        <div class=" radius-10 w-100">
            <div class="my-3 border-bottom"></div>
            <div class="">

                <div class="row">
                    <div class="col-12 col-lg-7 col-md-7 col-xl-7">
                        <div class="card radius-10 w-100">
                            <div class="card-body">
                                <div class="row w-100 ac-view-list card radius-10 w-100">
                                    <div class="row ">
                                        <div class="col-12">
                                            <div class="card-body">
                                                <div class="row g-3">
                                                    <div class="col-12 col-lg-4">
                                                        <input class="form-select" id="txtSearch" onkeyup="filterCompanyTable()" placeholder="Search">
                                                    </div>
                                                    <div class="col-12 col-lg-4">
                                                        <select class="form-select" id="ddlSearchBy" onchange="filterCompanyTable()">
                                                            <option selected="selected">All</option>
                                                            <option>CompanyName</option>
                                                            <option>GstNo</option>
                                                            <option>PanNo</option>
                                                        </select>
                                                    </div>

                                                    <div class="col-12 col-lg-4">
                                                        <select class="form-select" id="ddlSortBy" onchange="sortCompanyTable()">
                                                            <option value="DescendingCreatedOn" selected="selected">Most Recent</option>
                                                            <option value="AscendingCreatedOn">First Created</option>
                                                            <option value="AscendingCompanyName">CompanyName(a-z)</option>
                                                            <option value="DescendingCompanyName">CompanyName(z-a)</option>
                                                        </select>
                                                    </div>
                                                </div><!--end row-->

                                            </div>

                                        </div>

                                    </div>


                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table align-middle mb-0">
                                                <thead class="table-light btn-primary">
                                                    <tr>
                                                        <th>Company Name</th>
                                                        <th>Gst No</th>
                                                        <th>Pan No</th>
                                                        @if (UserSession.FormPermisionData.Any(a => a.FormName == "Company" && (a.Edit == true || a.Delete == true)))
                                                        {
                                                            <th>Action</th>
                                                        }
                                                    </tr>
                                                </thead>
                                                <tbody id="Companytbody">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                        <!--end row-->


                    </div>
                    <div class="col-12 col-lg-5 col-xl-5 ac-detail hide-sm">
                        <div class="card radius-10">
                            <div class="card-body" style="height:658px;">
                                <h5 class="mb-0 mt-4">Company Details</h5>
                                <hr>
                                <div class="row g-3 ac-detail d-none">
                                    <div class="col-6">
                                        <label class="form-label">Company Name</label>
                                        <input type="text" class="form-control" id="dspCompanyName" readonly>
                                        <input type="hidden" class="form-control" id="dspCompanyid" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">Gst No</label>
                                        <input type="text" class="form-control" id="dspGstNo" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">Pan No</label>
                                        <input type="text" class="form-control" id="dspPanNo" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">Address</label>
                                        <input type="text" class="form-control" id="dspAddress" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">Landmark</label>
                                        <input type="text" class="form-control" id="dspArea" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">Country</label>
                                        <input type="text" class="form-control" id="dspCountry" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">State</label>
                                        <input type="text" class="form-control" id="dspState" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">City</label>
                                        <input type="text" class="form-control" id="dspCity" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">Pincode</label>
                                        <input type="text" class="form-control" id="dspPincode" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">Invoice Prefix</label>
                                        <input type="text" class="form-control" id="dspInvoicePrefix" readonly>
                                    </div>
                                </div>
                            </div>
                            @* </form> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="offcanvas offcanvas-end border-0 w-25 ac-add-edit" tabindex="-1" id="createCompany">
        <div class="d-flex align-items-center bg-primary bg-gradient p-3 offcanvas-header">
            <h5 class="m-0 me-2 text-white">Create Company</h5>

            <button type="button" class="btn-close btn-close-white ms-auto" id="customizerclose-btn" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body p-0">
            <div data-simplebar class="h-100">
                <div class="p-4">
                    <div class="card">
                        <div class="card-body">
                            <form class="row g-3" id="companyForm">
                                <div class="col-12">
                                    <label class="form-label">Company Name</label>
                                    <input type="text" class="form-control" placeholder="Company Name" id="txtCompanyName" name="txtCompanyName">
                                    <input type="hidden" id="txtCompanyid" />
                                    <span id="spnCompanyName" class="text-danger"></span>
                                </div>
                                <div class="col-6">
                                    <label class="form-label">Gst No</label>
                                    <input type="text" class="form-control" placeholder="Gst No" id="txtGstNo" name="txtGstNo">
                                    <span id="spnGstNo" class="text-danger"></span>
                                </div>
                                <div class="col-6">
                                    <label class="form-label">Pan No</label>
                                    <input type="text" class="form-control" placeholder="Pan No" id="txtPanNo" name="txtPanNo">
                                    <span id="spnPanNo" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <label class="form-label">Address</label>
                                    <textarea type="text" class="form-control" rows="3" placeholder="Address" id="txtAddress" name="txtAddress"></textarea>
                                    <span id="spnAddress" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <label class="form-label">Landmark</label>
                                    <input type="text" class="form-control" placeholder="Landmark" id="txtArea" name="txtArea">
                                    <span id="spnArea" class="text-danger"></span>
                                </div>
                                <div class="col-6">
                                    <label class="form-label">Invoice Prefix</label>
                                    <input type="text" class="form-control" placeholder="Invoice Prefix" id="txtInvoicePrefix" name="txtInvoicePrefix">
                                    <span id="spnInvoicePrefix" class="text-danger"></span>
                                </div>
                                <div class="col-6">
                                    <label class="form-label">Pincode</label>
                                    <input type="number" class="form-control" placeholder="Pincode" id="txtPincode" name="txtPincode">
                                    <span id="spnPincode" class="text-danger"></span>
                                </div>
                                <div class="col-4">
                                    <label class="form-label">Country</label>
                                    <select id="ddlCountry" name="ddlCountry" class="form-select" onchange="fn_getState('dropState',null,this)">
                                        <option>--Select Country--</option>
                                    </select>
                                    <input type="hidden" id="txtcountry" value="" />
                                    <span id="spnCountry" class="text-danger"></span>
                                </div>
                                <div class="col-4">
                                    <label class="form-label">State</label>
                                    <select id="dropState" name="dropState" class="form-select" onclick="fn_getcitiesbystateId('ddlCity',null,this)">
                                        <option value="0" selected>--Select State--</option>
                                    </select>
                                    <input type="hidden" id="txtstate" value="" />
                                    <span id="spnStateId" class="text-danger"></span>
                                </div>
                                <div class="col-4">
                                    <label class="form-label">City</label>
                                    <select id="ddlCity" name="ddlCity" class="form-select">
                                        <option value="0">--Select City--</option>
                                    </select>
                                    <input type="hidden" id="txtcity" value="" />
                                    <span id="spnCityId" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <button type="button" class="btn btn-lg btn-success col-lg-12" onclick="validateAndCreateCompany()" id="btncompany">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<style>
    #txtCompanyName-error, #txtGstNo-error, #txtPanNo-error, #txtAddress-error,
    #txtArea-error, #txtPincode-error, #ddlCity-error, #dropState-error, #txtInvoicePrefix-error,
    #ddlCountry-error {
        color: red;
    }

    label.failed {
        color: red;
    }
</style>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
    <script src="~/moduls/masterlistscript.js" asp-append-version="true"></script>
    <script src="~/moduls/companyscript.js" asp-append-version="true"></script>
}
