@model AccountManagement.DBContext.Models.ViewModels.InvoiceMaster.InvoiceTotalAmount

@{
    decimal? youGaveTotal = 0;
    decimal? youGetTotal = 0;

}

@if (Model != null && Model.InvoiceList.Any())
{
    foreach (var item in Model.InvoiceList)
    {
        youGaveTotal += item.PayOutTotalAmount;
        youGetTotal += item.NonPayOutTotalAmount;

        <tr style="height:55px;">
            <td style="width:360px">@item.SupplierName</td>
            <td class="text-success" style="width:360px">
                @item.NonPayOutTotalAmount
            </td>
            <td class="text-danger" style="width:360px">
                @item.PayOutTotalAmount
            </td>
            <td style="width:360px">@item.NetAmount</td>
        </tr>
    }
}
else
{
    <tr style="height:55px;">
        <td colspan="8" class="text-center" style="width:360px">No data found for the selected criteria.</td>
    </tr>
}


<script type="text/javascript">
    $(document).ready(function () {
        var youGaveTotal = @youGaveTotal ?? 0;
        var youGetTotal = @youGetTotal ?? 0;
        var Pending = youGetTotal - youGaveTotal;


        function formatNumberWithIndianCommas(x) {
            x = x.toFixed(2);
            var parts = x.split(".");
            var lastThree = parts[0].slice(-3);
            var otherNumbers = parts[0].slice(0, -3);
            if (otherNumbers !== '') {
                lastThree = ',' + lastThree;
            }
            var formattedNumber = otherNumbers.replace(/\B(?=(\d{2})+(?!\d))/g, ",") + lastThree;
            return formattedNumber + "." + parts[1];
        }

        var footerContent = '<tr style="height:55px;"><td style="width:360px"><b>Total</b></td>' +
            '<td style="width:360px"><b class="text-success">' + formatNumberWithIndianCommas(youGetTotal) + '</b></td>' +
            '<td style="width:360px"><b class="text-danger">' + formatNumberWithIndianCommas(youGaveTotal) + '</b></td>' +
            '<td style="width:360px"><b class="">' + formatNumberWithIndianCommas(Pending) + '</b></td></tr>';

        $('#reportInvoicenetFooter').html(footerContent);
    });
</script>

