@using AccountManegments.Web.Models;
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@model IEnumerable<AccountManagement.DBContext.Models.ViewModels.PurchaseRequest.PurchaseRequestModel>
@{
    ViewData["Title"] = "ReportDetails";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}
<style>
    a.paginate_button.current {
        color: #fff !important;
        background-color: #923EB9 !important;
        border-color: #923eb9 !important;
    }
</style>
<input type="hidden" id="txtReportSiteId" value="@UserSession.SiteId" hidden />
<input type="hidden" id="txtReportUserId" value="@_userSession.UserId" hidden />
<input type="hidden" id="txtReportSiteName" value="@UserSession.SiteName" hidden />

<div class="">
    <div class=" radius-10 w-100">
        <div class="d-flex align-items-center">
        </div>
        <div class="my-3 border-bottom"></div>
        <div class="row">
            <section class="shop-page">
                <div class="shop-container">
                    <div class="card shadow-sm border-0">
                        <div class="card-body">
                            <div class="shop-cart">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="checkout-details">
                                            <div class="card">
                                                <div class="card-header border-bottom">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <h2 class="h5">Payment Report</h2>
                                                        </div>
                                                        <div class="col-6 text-end">
                                                            <button type="button" class="btn btn-primary nav-btn" id="ResetButton" onclick="openOB()" data-bs-toggle="tab" role="tab"><i class="lni lni-circle-plus"></i>Opening Balance</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <ul class="nav nav-pills mb-3 row" role="tablist">
                                                        <li class="nav-item col-md-2" role="presentation">
                                                            <select id="textReportCompanyName" name="textReportCompanyName" class="form-control">
                                                                <option value="">Select Company</option>
                                                            </select>
                                                        </li>
                                                        <li class="nav-item col-md-2" role="presentation">
                                                            <input type="text" id="textReportSupplierName" name="textReportSupplierName" class="form-control" placeholder="Supplier" />
                                                            <input type="hidden" id="textReportSupplierNameHidden" name="textReportSupplierNameHidden" />
                                                        </li>
                                                        <li class="nav-item col-md-2" role="presentation">
                                                            <select id="textReportGroupList" name="textReportGroupList" class="form-control">
                                                                <option value="">Select Group</option>
                                                            </select>
                                                        </li>
                                                        <li class="nav-item col-md-2" role="presentation">
                                                            <select id="timePeriodDropdown" name="timePeriodDropdown" class="form-control">
                                                                <option value="" selected disabled>Search By</option>
                                                                <option value="This Month">This Month</option>
                                                                <option value="This Year">This Year</option>
                                                                <option value="Between Date">Between Date</option>
                                                                <option value="Between Year">Between Year</option>
                                                            </select>
                                                        </li>

                                                        <li class="nav-item col-md-2 d-flex align-items-center gap-2" role="presentation" id="dateYearControls">
                                                            <input class="form-control date-input" placeholder="dd-mm-yyyy" type="date" id="startDate" style="display:none;width: 135px;">
                                                            <input class="form-control date-input" placeholder="dd-mm-yyyy" type="date" id="endDate" style="display:none;width: 135px;">
                                                            <select id="yearDropdown" class="form-control" style="display:none; width: 110px;">
                                                                <option value="">Select Year</option>
                                                            </select>
                                                            <button class="btn btn-primary nav-btn" id="searchReportButton" data-bs-toggle="tab" role="tab">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                                                                    <path fill="currentColor" d="m19.6 21l-6.3-6.3q-.75.6-1.725.95T9.5 16q-2.725 0-4.612-1.888T3 9.5t1.888-4.612T9.5 3t4.613 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l6.3 6.3zM9.5 14q1.875 0 3.188-1.312T14 9.5t-1.312-3.187T9.5 5T6.313 6.313T5 9.5t1.313 3.188T9.5 14" />
                                                                </svg>
                                                            </button>
                                                            <button type="button" class="btn btn-primary nav-btn" id="ResetButton" onclick="fn_ResetAllDropdown()" data-bs-toggle="tab" role="tab">Reset</button>
                                                        </li>
                                                    </ul>

                                                    <div class="tab-content" id="pills-tabContent">
                                                        <div class="tab-pane fade show active" id="credit-card" role="tabpanel">
                                                            <div class="table-container">
                                                                <table id="tblinvoice" class="table table-bordered dt-responsive table-striped align-middle dataTable dtr-inline" aria-describedby="example_info">
                                                                    <thead class="text-center table-light btn-primary">
                                                                        <tr>
                                                                            <th>Invoice No</th>
                                                                            <th>Date</th>
                                                                            <th>Site</th>
                                                                            <th>Group</th>
                                                                            <th>Supplier</th>
                                                                            <th>Credit</th>
                                                                            <th>Debit</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    </tbody>
                                                                    <tfoot>
                                                                        <tr>
                                                                            <th colspan="5" style="text-align:right">Total:</th>
                                                                            <th id="totalCredit"></th>
                                                                            <th id="totalDebit"></th>
                                                                        </tr>
                                                                    </tfoot>
                                                                </table>
                                                            </div>

                                                            <div class="col-12 text-end mt-3">
                                                                <a class="btn" onclick="ExportToExcel()" style="background-color:#018749;color:white;">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48">
                                                                        <path fill="currentColor" fill-rule="evenodd" d="M29 6v8h13v2H29v7h13V8c0-1.105-.836-2-1.867-2zm0 19h13v7H29zm0 9h13v6c0 1.105-.836 2-1.867 2H29zm-2 0v8H15.867C14.836 42 14 41.105 14 40v-6zm0-20H14V8c0-1.105.836-2 1.867-2H27zm-3.948 2v7H27v-7zm0 9v7H27v-7zM6 17a1 1 0 0 1 1-1h13.158a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm3.607 2h2.26l1.834 3.754L15.64 19h2.112l-2.91 5l2.976 5H15.59l-1.999-3.93l-1.99 3.93H9.34l3.024-5.018z" clip-rule="evenodd" />
                                                                    </svg><span>  </span>Export To Excel
                                                                </a>
                                                                <a class="btn" onclick="ExportToPDF()" style="background-color:#B31B1B;color:white;">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 1536 1792">
                                                                        <path fill="currentColor" d="M1468 380q28 28 48 76t20 88v1152q0 40-28 68t-68 28H96q-40 0-68-28t-28-68V96q0-40 28-68T96 0h896q40 0 88 20t76 48zm-444-244v376h376q-10-29-22-41l-313-313q-12-12-41-22m384 1528V640H992q-40 0-68-28t-28-68V128H128v1536zm-514-593q33 26 84 56q59-7 117-7q147 0 177 49q16 22 2 52q0 1-1 2l-2 2v1q-6 38-71 38q-48 0-115-20t-130-53q-221 24-392 83q-153 262-242 262q-15 0-28-7l-24-12q-1-1-6-5q-10-10-6-36q9-40 56-91.5t132-96.5q14-9 23 6q2 2 2 4q52-85 107-197q68-136 104-262q-24-82-30.5-159.5T657 552q11-40 42-40h22q23 0 35 15q18 21 9 68q-2 6-4 8q1 3 1 8v30q-2 123-14 192q55 164 146 238m-576 411q52-24 137-158q-51 40-87.5 84t-49.5 74m398-920q-15 42-2 132q1-7 7-44q0-3 7-43q1-4 4-8q-1-1-1-2q-1-2-1-3q-1-22-13-36q0 1-1 2zm-124 661q135-54 284-81q-2-1-13-9.5t-16-13.5q-76-67-127-176q-27 86-83 197q-30 56-45 83m646-16q-24-24-140-24q76 28 124 28q14 0 18-1q0-1-2-3" />
                                                                    </svg><span> </span>Export To Pdf
                                                                </a>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="card border-0">
                                                        <div class="card-body">
                                                            <a class="btn btn-primary" id="AddNewRowforPayOutInvoice" onclick="AddNewRowforPayOutInvoicebtn()">
                                                                <i class="lni lni-circle-plus"></i>PayOut
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="row">

                                                        <div class="card-body pt-0">
                                                            <div class="table-responsive">
                                                                <table class="table align-middle mb-0">
                                                                    <thead class="table-light btn-primary">
                                                                        <tr>
                                                                            <th>#</th>
                                                                            <th>Payment Status</th>
                                                                            <th>Date</th>
                                                                            <th>Description</th>
                                                                            <th>Amount</th>
                                                                            <th>Action</th>
                                                                    </thead>
                                                                    <tbody id="payoutpartialView">
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <div class="hstack gap-2 justify-content-end d-print-none mt-4" id="payoutsubmitbutton" style="display:none;">
                                                                <button type="button" class="btn btn-primary" id="creditdebitsubmitbtn" style="width: 150px;height: 40px;" onclick="InsertPayOutDetailsReport()">Submit</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end row-->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <form id="updatePayoutForm">
                <div class="modal fade show" tabindex="-1" id="updatePayoutModal" role="dialog" aria-labelledby="myLargeModalLabel" aria-modal="true" aria-hidden="true" style="display:none;">
                    <div class="modal-dialog modal-md modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header bg-primary-subtle p-3">
                                <h5 class="modal-title" id="flipModalLabel">Edit Payout</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <input type="text" class="form-control" id="EdittxtpayoutSiteId" hidden />
                                <input type="text" class="form-control" id="EdittxtpayoutId" hidden />
                                <input type="text" class="form-control" id="EdittxtpayoutUpdatedBy" value="@_userSession.UserId" hidden />
                                <input type="hidden" id="EdittxtpayoutSupplierNameHidden" name="EdittxtpayoutSupplierNameHidden" />
                                <input type="hidden" id="EdittxtpayoutCompanyNameHidden" name="EdittxtpayoutCompanyNameHidden" />
                                <div class="row mb-3">
                                    <div class="col-lg-12 col-12">
                                        <label class="me-2">Payment Status : </label>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="Online" value="NEFT/RTGS" name="Editpayoutpaymenttype">
                                            <label class="form-check-label" for="Online">NEFT/RTGS</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="Cheque" value="Cheque" name="Editpayoutpaymenttype">
                                            <label class="form-check-label" for="Cheque">Cheque</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-lg-4 col-12">
                                        <label class="form-label">Description</label>
                                        <div class="form-label">
                                            <input type="text" class="form-control" id="Edittxtpayoutdescription" placeholder="Description" />
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-12">
                                        <label class="form-label">Date</label>
                                        <input type="date" id="Edittxtpayoutdate" class="form-control" name="Edittxtpayoutdate" />
                                    </div>
                                    <div class="col-lg-3 col-12">
                                        <label class="form-label">Total Amount</label>
                                        <input type="text" class="form-control" id="Edittxtpayoutamount" name="Edittxtpayoutamount">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" onclick="UpdatePayoutInvoice()" id="btnitem">Save</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </form>
            <form id="OPBalanceForm">
                <div class="modal fade" tabindex="-1" id="OBPayoutModal" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-md modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header bg-primary-subtle p-3">
                                <h5 class="modal-title" id="flipModalLabel">Add Opening Balance</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row mb-3">
                                    <div class="col-lg-4 col-12">
                                        <label class="form-label">Description</label>
                                        <div class="form-label">
                                            <input type="text" class="form-control" id="txtOBdescription" placeholder="Description" />
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-12">
                                        <label class="form-label">Date</label>
                                        <input type="date" id="txtOBdate" class="form-control" name="txtOBdate" />
                                    </div>
                                    <div class="col-lg-3 col-12">
                                        <label class="form-label">Total Amount</label>
                                        <input type="text" class="form-control" id="txtOBamount" name="txtOBamount">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" onclick="saveOpeningBalanceInvoice()">Save</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </form>
        </div>
    </div>
</div>




@section Scripts {
    <script src="~/moduls/report.js" asp-append-version="true"></script>
}
